<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:text-align="http://www.w3.org/1999/xhtml"
      xml:th="http:/www.thymeleaf.org"
      layout:decorate="~{layout/user-default.html}">

<head>
    <title id="pageTitle">유저 &mdash; 주문</title>
</head>

<div layout:fragment="userTitle">
    <div class='right-box'>
        <form method="post" action="/user/product/order" id="orderForm">
            <table>
                <tr>

                </tr>
                <td>

                                <input name="productOrderInfoDtos[0].optionIds"
                                        value="1">
                    <input name="productOrderInfoDtos[0].optionIds"
                           value="2">
                                </input>
                    <!--<select name="productOrderInfoDtos[0].optionIds" form="orderForm" >-->
                        <!--            <option name="optionIds"-->
                                            <!--th:value="2">-->
                    <!--</option>-->
                    <!--</select>-->

                </td>

                <td>
                        <input name="productOrderInfoDtos[0].orderQuantities" value="1">
                    <input name="productOrderInfoDtos[0].orderQuantities" value="2">
                    <!--<select name="orderQuantities" form="orderForm">-->
                        <!--<option name="orderQuantities" th:value="2">-->
                    <!--</select>-->

                </td>
            </table>

            <input type="hidden" value="1" name="productOrderInfoDtos[0].productId"/>
            <input type="submit" value="BUY NOW"/>
        </form>

    </div>
</div>

</html>