<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:text-align="http://www.w3.org/1999/xhtml"
      xml:th="http:/www.thymeleaf.org"
      layout:decorate="~{layout/user-product-detail.html}">


<head th:include="fragments/config :: configFragment">
    <title id="pageTitle">TODO 상품 이름을 넣자</title>
    <!-- other elements you want to reference in your layout -->
</head>

<!-- 상품 판매 정보 -->
<div layout:fragment="productInfo">
    <div id='top-info-left'>
        <div id="top-info-left-abs">
            <!--Carousel-->
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active ">
                        <img src="/static/img/cup.png" alt="공사중,,,">
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <div class="item">
                        <img src="/static/img/rainbow2.jpg" alt="공사중,,,">
                        <div class="carousel-caption">
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button"
                   data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button"
                   data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div id='top-info-right'>
        <div id="top-info-right-abs">
            <div style="border-top:1px solid gold; border-bottom:1px solid gold; padding-top: 20px; padding-bottom: 20px">
                <span class="product-name" th:text="${product.name}">상품 이름</span>
            </div>

            <div style="height: 20px;"></div>

            <div style="height: 70px; border-bottom: 1px solid #d3d3d3;">
                <span style="text-decoration:line-through; font-size:15px; color: grey;"
                      th:text="${#numbers.formatInteger(product.originalPrice, 0, 'COMMA')}">원가</span><br>
                <span class="product-price">x%</span> <!--TODO 할인율을 어떻게 할까 -->
                <em class="product-price"
                    th:text="@{'&nbsp;' + ${#numbers.formatInteger(product.sellingPrice, 0, 'COMMA')}}">판매가</em>
                <span style="color: red; font-size: 15px; font-weight: bold;">원</span>
            </div>

            <div style="height: 100px; padding-top: 10px; padding-bottom: 10px; line-height: 23px;">
                <span style="font-weight: bold;">상품할인</span>
                <span style="color: red; margin-left: 17px;"
                      th:text="@{'x%' + '&nbsp;' + ${#numbers.formatInteger(product.sellingPrice, 0, 'COMMA')}}">상품 가격</span><br>

                <span style="font-weight: bold;">배송비</span>
                <span style="margin-left: 30px;"
                      th:text=" @{${#numbers.formatInteger(product.shippingPrice, 0, 'COMMA')}}">배송비</span><br>

                <span style="font-weight: bold;">추가혜택</span>
                <span style="margin-left: 17px;"
                      th:text="'적립금 ' + @{${#numbers.formatInteger(product.mileage, 0, 'COMMA')} + 'p'}">적립금</span>
            </div>

            <div id="option-box" style="margin-bottom: 30px;">
                <select name="selectOption" onchange="selectOptionChange(this.value)">   <!-- TODO `form`의 id를 변경해야 함-->
                    <option disabled selected>옵션을 선택하세요</option>
                    <option value="0">없음</option>
                    <option name="optionId" th:each="productOption : ${productOptions}"
                            th:value="${productOption}"
                            th:utext="@{${productOption.name} + ' [+' + ${productOption.price} + ']'}"></option>
                </select>
            </div>

            <div id="orderIndex">
                <div style="margin-top: 10px; border-bottom: 2px solid black;">
                    <table>
                        <tbody>
                        <td class="order-index-table-option">가나</td>
                        <td class="order-index-table-quantity">다라</td>
                        <td class="order-index-table-price">마바</td>
                        <td class="order-index-table-delete">사아</td>
                        </tbody>
                        <tbody>
                        <td class="order-index-table-option">가나</td>
                        <td class="order-index-table-quantity">다라</td>
                        <td class="order-index-table-price">마바</td>
                        <td class="order-index-table-delete">사아</td>
                        </tbody>
                        <tbody>
                        <td class="order-index-table-option">가나</td>
                        <td class="order-index-table-quantity">다라</td>
                        <td class="order-index-table-price">마바</td>
                        <td class="order-index-table-delete">사아</td>
                        </tbody>
                        <tbody>
                        <td class="order-index-table-option">가나</td>
                        <td class="order-index-table-quantity">다라</td>
                        <td class="order-index-table-price">마바</td>
                        <td class="order-index-table-delete">사아</td>
                        </tbody>
                    </table>
                </div>
                <div id="orderIndexResult" style="margin-top: 15px; margin-bottom: 15px; text-align: right;">
                    <span style="font-size: 15px">총 상품 금액</span>
                    <span class="order-index-total-price">28,000</span>
                    <span style="font-size: 23px; color: red;">원</span>
                </div>
            </div>

            <div id="orderRequestForm">
                <form method="post" name="productOrder" action="/user/product/order" id="orderForm">

                    `orderIndex`에 선택된 옵션과 상품의 수량, 상품 번호가 넘어감
                    <input type="hidden" th:value="${product.id}" name="productId"/>
                    <input type="submit" value="SHOPPING BAG"/>
                    <input type="submit" value="BUY NOW"/>
                </form>
            </div>
        </div>
    </div>

    <script>
        function selectOptionChange(optionId, optionText) {

        }
    </script>

</div>

<div layout:fragment="productContent">
    <!-- 상품 설명 editor -->
    <div class="product-info" style="border-top:2px solid #d3d3d3;">
        <div id="editSection"></div>

        <script src="/static/editor/jquery/dist/jquery.js"></script>
        <script src="/static/editor/tui-code-snippet/dist/tui-code-snippet.js"></script>
        <script src="/static/editor/markdown-it/dist/markdown-it.js"></script>
        <script src="/static/editor/to-mark/dist/to-mark.js"></script>
        <script src="/static/editor/codemirror/lib/codemirror.js"></script>
        <script src="/static/editor/highlightjs/highlight.pack.js"></script>
        <script src="/static/editor/squire-rte/build/squire-raw.js"></script>
        <script src="/static/editor/tui-editor/dist/tui-editor-Editor-all.js"></script>
        <link rel="stylesheet" href="/static/editor/codemirror/lib/codemirror.css">
        <link rel="stylesheet" href="/static/editor/highlightjs/styles/github.css">
        <link rel="stylesheet" href="/static/editor/tui-editor/dist/tui-editor.css">
        <link rel="stylesheet" href="/static/editor/tui-editor/dist/tui-editor-contents.css">

        <!--<title th:text="상품 상세보기"></title>-->

        <style type="text/css">
            .footer {
                position: relative;
                width: 100%;
                height: 50px;
                margin-top: 30px;
                background-color: #f5f5f5;
            }

            #userNameP {
                margin-top: 30px;
            }

            #deleteModalCallBtn {
                margin-right: 10px;
            }

            .jb-right {
                text-align: right;
            }

            .jb-center {
                text-align: center;
            }

            .te-md-container .CodeMirror {
                font-size: 14px;
            }

            .tui-editor-contents {
                font-size: 14px;
            }
        </style>

        <script th:inline="javascript">
            (function (root, factory) {
                if (typeof define === 'function' && define.amd) {
                    define(['tui-editor'], factory);
                } else if (typeof exports === 'object') {
                    factory(require('tui-editor'));
                } else {
                    factory(root['tui']['Editor']);
                }
            })(this, function (Editor) {
                // define youtube extension
                Editor.defineExtension('youtube', function () {
                    // runs while markdown-it transforms code block to HTML
                    Editor.codeBlockManager.setReplacer('youtube', function (youtubeId) {
                        // Indentify multiple code blocks
                        var wrapperId = 'yt' + Math.random().toString(36).substr(2, 10);
                        // avoid sanitizing iframe tag
                        setTimeout(renderYoutube.bind(null, wrapperId, youtubeId), 0);
                        return '<div id="' + wrapperId + '"></div>';
                    });
                });

                function renderYoutube(wrapperId, youtubeId) {
                    var el = document.querySelector('#' + wrapperId);
                    el.innerHTML = '<iframe width="820" height="630" src="https://www.youtube.com/embed/' + youtubeId + '"  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>';
                }
            });

            $(document).ready(function () {
                $('#editSection').tuiEditor({
                    exts: ['youtube'],
                    viewer: true,
                    height: 'auto'
                });
                /*<![CDATA[*/
                var content = /*[[${productDescription}]]*/ 'default';
                $("#editSection").tuiEditor("setValue", content);
                /*]]>*/
            });
        </script>
    </div>
</div>

<div layout:fragment="infomation">
    <!-- 상품 정보, 배송정보, 교환/환불 안내-->
    <div class="product-info">
        <div class="product-info-margin">
            <div class="product-info-name" style="border-bottom:4px solid black; line-height: 40px;">
                <span style="font-size: 20px; font-weight: bold">PRODUCT</span>
            </div>
            <table width="100%">
                <tbody>
                <tr>
                    <th class="product-table-th">제품명
                    </td>
                    <td class="product-table-td" th:text="${product.name}">테스트</td>
                </tr>
                <tr>
                    <th class="product-table-th">제조사
                    </td>
                    <td class="product-table-td" th:text="${product.manufacturer}">테스트</td>
                </tr>
                <tr>
                    <th class="product-table-th">제조연월
                    </td>
                    <td class="product-table-td" th:text="${#temporals.format(product.manufactureDate, 'yyyy-MM-dd')}">
                        테스트
                    </td>
                </tr>
                <tr>
                    <th class="product-table-th">품질보증기준
                    </td>
                    <td class="product-table-td">상품 수령일로부터 7일 이내 교환 및 환불</td>
                </tr>
                <tr>
                    <th class="product-table-th">AS 책임자와 전화번호
                    </td>
                    <td class="product-table-td">TODO 무엇을 적을까? 아니면 없앨까?</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="product-info-margin">
            <div class="product-info-name" style="border-bottom:4px solid black; line-height: 40px;">
                <span style="font-size: 20px; font-weight: bold">NOTICE</span>
            </div>
            <br>
            <li class="li-line-height">제품 단면 측정 사이즈는 측정 방법에 따라 ±5cm의 오차가 있을 수 있습니다.</li>
            <li class="li-line-height">색상과 질감은 사용하는 모니터의 사양 또는 해상도에 따라 실제 제품과 다소 차이가 있을 수 있습니다.</li>
            <li class="li-line-height">이는 교환 환불의 사유가 되지 않으므로 신중한 구매 부탁드립니다.</li>
            <li class="li-line-height">단순 변심/판단 착오 등의 교환은, 고객이 왕복 배송비를 부담해야 합니다.</li>
            <li class="li-line-height">상품의 교환 시 패키지를 개봉하지 않은 상태여야 하며, 상품이 훼손된 경우에는 교환이 불가합니다.</li>
            <li class="li-line-height">상품 불량/오 배송의 경우, Holiday Something에서 왕복 배송비를 부담하며 동일 상품으로 재발송 합니다.</li>
            <li class="li-line-height">모든 상품은 배송일자 기준 7일 초과 시 교환/환불이 불가능합니다.</li>
        </div>

        <div class="product-info-margin">
            <div class="product-info-name" style="border-bottom:4px solid black; line-height: 40px;">
                <span style="font-size: 20px; font-weight: bold">DELIVERY</span>
            </div>
            <br>
            <li class="li-line-height">홀리데이썸띵은 가장 빠르고 제품 손상이 적은 우체국 택배를 이용하고 있습니다. 제품 당 3,000원의 운송료가 청구 됩니다.</li>
            <li class="li-line-height">도서지역 및 해외배송은 추가 운임 발생합니다.</li>
            <li class="li-line-height">결제 완료일부터 공휴일 제외 7일 내 상품을 받으실 수 있습니다.</li>
            <li class="li-line-height">배송지연 상품에 대해서는 개별 연락 해드립니다.</li>
        </div>
    </div>
</div>

<div layout:fragment="bestProducts">
    <!-- 판매량 Top 5 상품 -->
    <div class="product-info">
        <div class="product-info-margin">
            <div class="product-info-name" style="line-height: 40px; color: orange;">
                <span style="font-size: 20px; font-weight: bold">Best Product</span>
            </div>
            best 상품을 잘 가져오는지 확인!<br>
            아;;;;;;;;; best 상품의 main 이미지를 가져와서 보여줘야 되는구나....<br>
            <tr th:each="bestProduct: ${bestProducts}">
                <td th:text="${bestProduct.id}"/>
                <br>
                <td th:text="${bestProduct.name}"/>
                <br><br>
            </tr>
        </div>
    </div>
</div>

</html>