<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xml:th="http:/www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

  <header th:fragment="headerFragment" id="header">
    <a href="/" class="header-img-a">
      <img src="/static/img/logo.png"/>
    </a>
    <a href="/admin/product/">
      <div class="header-menu">상품관리</div>
    </a>
    <a href="/admin/member/">
      <div class="header-menu">고객관리</div>
    </a>
    <a href="/admin" sec:authorize="isAuthenticated()" class="header-admin-home-btn">
      <div class="header-menu">관리자 HOME</div>
    </a>
  </header>

  <section th:fragment="userHeaderFragment" id="userHeader">
    <div class="header-top">
      <div class="header-search">
        <i class="fas fa-search"></i>
        <input type="search" placeholder="Search" aria-label="Search" autocomplete="off" />
               <!--name="q" data-instant="attached"-->
      </div>
      <a href="/" class="header-logo-link">
        <img src="/static/img/hs-logo.png" alt="logo" class="hs-logo" />
      </a>

      <div class="header-menu-right">
        <div sec:authorize="!isAuthenticated()">
          <i class="fas fa-user"></i>
          <a href="/user/login">SIGN IN</a>
        </div>

        <div>
          <i class="fas fa-shopping-cart"></i>
          <a href="/user/cart">CART</a>
        </div>

        <div sec:authorize="isAuthenticated()">
          <i class="fas fa-user"></i>
          <a href="/mypage">MYPAGE</a>
        </div>

        <div sec:authorize="isAuthenticated()">
          <i class="fas fa-sign-out-alt"></i>
          <a href="/user/logout">LOG OUT</a>
        </div>
      </div>
    </div>

    <div class="header-categories">
      <ul class="site-nav">

        <li class="site-nav-dropdown">
          <div><a href="/product/1">Stationery</a></div>
          <div class="nav-group-wrapper">
            <div class="child-group">
              <p>PENCIL</p>
              <div class="grand-child-wrapper">
                <a href="#">4B</a>
                <a href="#">SHARP</a>
                <a href="#">HIGHLIGHTER</a>
              </div>
            </div>
            <div class="child-group">
              <p>POST-IT</p>
              <div class="grand-child-wrapper">
                <a href="#">COLORFUL</a>
                <a href="#">CHARACTER</a>
                <a href="#">BIG</a>
              </div>
            </div>
            <div class="child-group">
              <p>NOTE</p>
              <div class="grand-child-wrapper">
                <a href="#">LINED</a>
                <a href="#">NON-LINED</a>
                <a href="#">DIARY</a>
              </div>
            </div>
          </div>
        </li>

        <li class="site-nav-dropdown">
          <div><a href="/product/2">D.I.Y</a></div>
          <div class="nav-group-wrapper">
            <div class="child-group">
              <p>TOY</p>
              <div class="grand-child-wrapper">
                <a href="#">LEGO</a>
                <a href="#">DOLL</a>
              </div>
            </div>
            <div class="child-group">
              <p>FURNITURE</p>
              <div class="grand-child-wrapper">
                <a href="#">DESK</a>
                <a href="#">CHAIR</a>
                <a href="#">TABLE</a>
              </div>
            </div>
            <div class="child-group">
              <p>BAG</p>
              <div class="grand-child-wrapper">
                <a href="#">BACKPACK</a>
                <a href="#">CROSSBAG-LINED</a>
                <a href="#">HANDBAG</a>
              </div>
            </div>
          </div>
        </li>

        <li class="site-nav-dropdown">
          <div><a href="/product/3">Fashion</a></div>
          <div class="nav-group-wrapper">
            <div class="child-group">
              <p>MAN</p>
              <div class="grand-child-wrapper">
                <a href="#">TOP</a>
                <a href="#">BOTTOM</a>
                <a href="#">SHOES</a>
              </div>
            </div>
            <div class="child-group">
              <p>WOMAN</p>
              <div class="grand-child-wrapper">
                <a href="#">TOP</a>
                <a href="#">BOTTOM</a>
                <a href="#">SHOES</a>
              </div>
            </div>
          </div>
        </li>

        <li class="site-nav-dropdown">
          <div><a href="/product/4">Food</a></div>
          <div class="nav-group-wrapper">
            <div class="child-group">
              <p>SEAFOOD</p>
              <div class="grand-child-wrapper">
                <a href="#">SALMON</a>
                <a href="#">CLAM</a>
                <a href="#">OCTOPUS</a>
              </div>
            </div>
            <div class="child-group">
              <p>MEAT</p>
              <div class="grand-child-wrapper">
                <a href="#">BEEF</a>
                <a href="#">PORK</a>
                <a href="#">CHICKEN</a>
              </div>
            </div>
            <div class="child-group">
              <p>DESSERT</p>
              <div class="grand-child-wrapper">
                <a href="#">TEA</a>
                <a href="#">ICECREAM</a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <hr class="header-hr">
  </section>

</html>