<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<div th:fragment="leftNavbarFragment">
  <div id="container">
    <div class="left-navbar">
      <div class="navbar-menu">
        <a href="#">상품분류관리</a>
      </div>
      <div class="navbar-menu">
        <a href="#">상품옵션관리</a>
      </div>
      <div class="navbar-menu">
        <a href="/admin/product/product_detail/register">상품등록</a>
      </div>
      <div class="navbar-menu">
        <a href="#">상품관리</a>
      </div>
      <div class="navbar-menu">
        <a href="#">상품표시관리</a>
      </div>
      <div class="navbar-menu">
        <a href="#">판매분류관리</a>
      </div>
      <div class="navbar-menu">
        <a href="#">재고관리</a>
      </div>
      <div class="navbar-menu">
        <a href="#">즐겨찾는 메뉴</a>
      </div>
    </div>


  </div>
</div>


</html>