<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<aside th:fragment="leftNavbarFragment" class="left-navbar">
  <div class="navbar-menu">
    <a href="/admin/product/product_category">상품분류관리</a>
  </div>
  <div class="navbar-menu">
    <a href="/admin/product/product_detail">상품옵션관리</a>
  </div>
  <div class="navbar-menu">
    <a href="/admin/product/product_search">상품검색</a>
  </div>
  <div class="navbar-menu">
    <a href="/admin/product/product_detail/register">상품등록</a>
  </div>
  <div class="navbar-menu">
    <a href="#">상품표시관리</a>
  </div>
  <div class="navbar-menu">
    <a href="#">판매분류관리</a>
  </div>
  <div class="navbar-menu">
    <a href="#">재고관리</a>
  </div>
  <div class="navbar-menu">
    <a href="#">즐겨찾는 메뉴</a>
  </div>
</aside>

</html>