<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <head layout:fragment="head"
      th:replace="fragments/config :: configFragment">

  </head>

  <body>
    <header th:replace="fragments/header :: headerFragment">

    </header>

    <div id="container">
      <!--<aside th:replace="fragments/left-navbar :: leftNavbarFragment2">-->
      <div layout:fragment="leftNavbarFragment">
        <aside>

        </aside>
      </div>
      <div layout:fragment="content" id="dashboard">

      </div>
    </div>
  </body>

</html>