<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <head th:replace="fragments/config :: configFragment"></head>
  <div>
    <header th:replace="fragments/header :: userHeaderFragment"></header>
  </div>

  <div>
    <div layout:fragment="userTitle" class="user-dashboard"> <div>...</div> </div>
  </div>

  <div>
    <div layout:fragment="userContents" class="user-content"></div>
  </div>

  <footer th:replace="fragments/footer:: userFooterFragment"></footer>

<!--  <body th:replace="fragments/config :: configFragment"></body>-->

</html>