<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <head
      layout:fragment="head"
      th:replace="fragments/config :: configFragment">

  </head>

  <body>
    <header th:replace="fragments/header :: userHeaderFragment">

    </header>

    <div
        layout:fragment="userTitle"
        class="user-dashboard">

    </div>

    <!-- 카트 -->
    <div layout:fragment="userContents">

    </div>

    <footer th:replace="fragments/footer :: userFooterFragment">

    </footer>
  </body>
</html>