<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default.html}">

<head th:include="fragments/config :: configFragment">
  <title id="pageTitle">Page title</title>
  <!-- other elements you want to reference in your layout -->
</head>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>


<div layout:fragment="content">
  <br>
  <br>
  <br>
  <br>
  <h1> 주문회원 조회 페이지 입니다.</h1>

  <form action="#" th:action="@{/admin/member/order/search}" method="post"
        th:object="${SearchOrderMember}">
    <table>
      <tr>
        <td>이름</td>
        <td><input name="name" type="text" placeholder="Name"></td>
      </tr>
      <tr>
        <td>아이디</td>
        <td><input name="loginId" type="text" placeholder="Id"></td>
      </tr>
      <tr>
        <td>주문상품</td>
        <td><input name="productName" type="text" placeholder="Product Name"></td>
      </tr>
      <tr>
        <td>주문번호</td>
        <td><input name="productCode" type="text" placeholder="Order Number"></td>
      </tr>
      <tr>
        <td>주문기간</td>
        <td>
          <input name="date1" type="date"> ~
          <input name="date2" type="date">
        </td>
      </tr>
    </table>

    <input type="submit" value="조회">
  </form>

</div>

</html>