<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default.html}">

<head th:include="fragments/config :: configFragment">
  <title id="pageTitle">Page title</title>
  <!-- other elements you want to reference in your layout -->
</head>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<div layout:fragment="content">

  <div id="dashboard">
    <h1 align="center">회원 적립금 관리</h1>
    <!-- cafe24는 적립금을 엑셀파일로 관리... -->
    <h4>회원 검색</h4>
    <div>
      <form method="GET" action="/admin/member/mileage/search"
            id="member-mileage-search-form">
        <table width="500px" border="1" align="center">
          <tr>
            <th scope="row" style="width: 180px;">아이디</th>
            <td>
              <input type="hidden" name="searchType" value="loginId">
              <input type="text" name="keyword" style="width: 300px;" placeholder="검색">
            </td>
            <td style="width: 50px; font-size: small; border: 0px;"><input type="submit" value="검색">
            </td>
          </tr>
        </table>
      </form>
    </div>
    <br>

    <h4>회원 적립금 내역</h4>
    <div class="tbl-container">
      <table id="member-mileage-search-tbl" border="1" style="width: 100%">
        <thead>
        <tr bgcolor="#ffd700">
          <th scope="col">아이디</th>
          <th scope="col">현재적립금</th>
          <th scope="col" style="width: 5%;"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${members}">
          <td th:text="${member.loginId}"></td>
          <td th:text="${member.mileage}"></td>
          <td>
            <form method="GET" action="/admin/member/mileage/modify">
              <input type="hidden" th:value="${member.loginId}" name="loginId">
              <input type="submit" value="수정">
            </form>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- 모든 상품 페이징 처리 -->
    <div th:if="${search.getSearchType() == null}" id="page-numbers">
      <!--이전 페이지가 있다면 보임-->
      <td th:if="${members.hasPrevious()}">
        <a th:href="@{'/admin/member/mileage/search?page=' + ${members.number - 1}}">&larr;</a>
      </td>
      <!-- 페이지 목록 -->
      <th:block th:each="page : ${#numbers.sequence(1, members.getTotalPages())}">
        <a th:href="@{'/admin/member/mileage/search?page=' + ${page - 1}}">
          <span th:text="${page}"></span>
        </a>
      </th:block>
      <!--다음 페이지가 있다면 보임-->
      <td th:if="${members.hasNext()}">
        <a th:href="@{'/admin/member/mileage/search?page=' + ${members.number + 1} + '&searchType=' + ${search.getSearchType()} + '&keyword=' + ${search.getKeyword()}}">&rarr;</a>
      </td>
    </div>

    <!-- 검색된 상품 페이징 처리 -->
    <div th:if="${search.getSearchType() != null}" id="searchPage-numbers">
      <!--이전 페이지가 있다면 보임-->
      <td th:if="${members.hasPrevious()}">
        <a th:href="@{'/admin/member/mileage/search?page=' + ${members.number - 1} + '&searchType=' + ${search.getSearchType()} + '&keyword=' + ${search.getKeyword()}}">&larr;</a>
      </td>
      <!-- 페이지 목록 -->
      <th:block th:each="page : ${#numbers.sequence(1, members.getTotalPages())}">
        <a th:href="@{'/admin/member/mileage/search?page=' + ${page - 1} + '&searchType=' + ${search.getSearchType()} + '&keyword=' + ${search.getKeyword()}}">
          <span th:text="${page}"></span>
        </a>
      </th:block>
      <!--다음 페이지가 있다면 보임-->
      <td th:if="${members.hasNext()}">
        <a th:href="@{'/admin/member/mileage/search?page=' + ${members.number + 1}}">&rarr;</a>
      </td>
    </div>

  </div>

  <script>
    // 사용자 스크립트 추가
  </script>

</div>
</html>

