<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default.html}">

<head th:include="fragments/config :: configFragment">
  <title id="pageTitle">Page title</title>
  <!-- other elements you want to reference in your layout -->
</head>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>


<div layout:fragment="content">
  <br>
  <br>
  <br>
  <br>
  <h1> 주문회원 조회 페이지 입니다.</h1>

  <form action="#" th:action="@{/admin/member/order/search}" method="post"
        th:object="${SearchOrderMember}">
    <table>
      <tr>
        <td>이름</td>
        <td><input name="name" type="text" placeholder="Name"></td>
      </tr>
      <tr>
        <td>아이디</td>
        <td><input name="loginId" type="text" placeholder="Id"></td>
      </tr>
      <tr>
        <td>주문상품</td>
        <td><input name="productName" type="text" placeholder="Product Name"></td>
      </tr>
      <tr>
        <td>주문번호</td>
        <td><input name="orderNumber" type="text" placeholder="Order Number"></td>
      </tr>
      <tr>
        <td>주문기간</td>
        <td>
          <input name="date1" type="date"> ~
          <input name="date2" type="date">
        </td>
      </tr>
    </table>

    <input type="submit" value="조회">
  </form>


  <!-- search result -->
  <div th:style="${orderMemberDtoPage == null ? 'display:none' : 'display:block'}"
       style="margin-left: 50px;" id="memberList">

    <div style="width: fit-content;" class="tbl-container">

      <table id="product-option-list-tbl">
        <colgroup>
          <col style="width:50px;"/>
          <col style="width:auto;"/>
          <col style="width:auto;"/>
          <col style="width:auto;"/>
          <col style="width:auto;"/>
          <col style="width:auto;"/>
          <col style="width:auto;"/>
          <col style="width:auto;"/>
          <col style="width:auto;"/>
        </colgroup>
        <thead>
        <tr>
          <th>ID</th>
          <th>LoginId</th>
          <th>Name</th>
          <th>Email</th>
          <th>Nickname</th>
          <th>Phone</th>
          <th>Birthday</th>
          <th>Recent OrderDate</th>
          <th>Recent OrderNumber</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orderMemberDto : ${orderMemberDtoPage != null ? orderMemberDtoPage : orderMemberDtoPage}"
            class="orderMemberDtoPageTr">
          <td th:text="${orderMemberDto.member.id}">###</td>
          <td th:text="${orderMemberDto.member.loginId}">###</td>
          <td th:text="${orderMemberDto.member.name}">###</td>
          <td th:text="${orderMemberDto.member.email}">###</td>
          <td th:text="${orderMemberDto.member.nickname}">###</td>
          <td th:text="${orderMemberDto.member.phone}">###</td>
          <!--<td th:text="${orderMemberDto.member.birthday}">###</td>-->
          <td th:text="${#temporals.format(orderMemberDto.member.birthday , 'yyyy-MM-dd')}">###</td>
          <!--<td th:text="${orderMemberDto.date}">###</td>-->
          <td th:text="${#temporals.format(orderMemberDto.date , 'yyyy-MM-dd HH:mm:ss')}">###</td>
          <td th:text="${orderMemberDto.orderNumber}">###</td>
        </tr>
        </tbody>
      </table>


      <!-- 검색된 상품 페이징 처리 -->
      <div th:if="${SearchOrderMember.isEmpty() == false }" id="searchPage-numbers">
        <!--이전 페이지가 있다면 보임-->
        <td th:if="${orderMemberDtoPage.hasPrevious()}">
          <a th:href="@{'/admin/member/order/search?page=' + ${orderMemberDtoPage.number - 1}
           + '&name=' + ${SearchOrderMember.name} + '&loginId=' + ${SearchOrderMember.loginId}
           + '&productName=' + ${SearchOrderMember.productName} + '&orderNumber=' + ${SearchOrderMember.orderNumber}
           + '&date1=' + ${SearchOrderMember.orderStartDate} + '&date2=' + ${SearchOrderMember.orderEndDate}}">&larr;</a>
        </td>
        <!-- 페이지 목록 -->
        <th:block th:each="page : ${#numbers.sequence(1, orderMemberDtoPage.getTotalPages())}">
          <a th:href="@{'/admin/member/order/search?page=' + ${page - 1}
           + '&name=' + ${SearchOrderMember.name} + '&loginId=' + ${SearchOrderMember.loginId}
           + '&productName=' + ${SearchOrderMember.productName} + '&orderNumber=' + ${SearchOrderMember.orderNumber}
           + '&date1=' + ${SearchOrderMember.orderStartDate} + '&date2=' + ${SearchOrderMember.orderEndDate}}">&larr;</a>
          <span th:text="${page}"></span>
          </a>
        </th:block>
        <!--다음 페이지가 있다면 보임-->
        <td th:if="${orderMemberDtoPage.hasNext()}">
          <a th:href="@{'/admin/member/order/search?page=' + ${orderMemberDtoPage.number + 1}
           + '&name=' + ${SearchOrderMember.name} + '&loginId=' + ${SearchOrderMember.loginId}
           + '&productName=' + ${SearchOrderMember.productName} + '&orderNumber=' + ${SearchOrderMember.orderNumber}
           + '&date1=' + ${SearchOrderMember.orderStartDate} + '&date2=' + ${SearchOrderMember.orderEndDate}}">&larr;</a>
        </td>
      </div>


      <!-- Page 번호 -->
      <div id="page-numbers">

      </div>
    </div>
  </div>   <!-- end search result -->


</div>

</html>