<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xml:th="http:/www.thymeleaf.org"
      layout:decorate="~{layout/default.html}">

<head th:include="fragments/config :: configFragment">
  <title id="pageTitle">관리자 &mdash; 고객검색</title>
  <!-- other elements you want to reference in your layout -->
</head>

<div layout:fragment="content">
  <h1>고객검색 페이지</h1>

  <!-- 고객 검색 모듈 -->
  <div>
    <table border="1">
      <form method="post" action="/admin/member/search">
        <tbody>
        <tr>
          <th scope="row">개인정보</th>
          <td>
            <select name="memberSearchClassificationValue">
              <option disabled selected >검색 옵션 선택</option>
              <option value="memberId">아이디</option>
              <option value="memberName">이름</option>
              <option value="memberEmail">이메일</option>
              <option value="memberPhone">전화번호</option>
              <option value="memberNickname">닉네임</option>
              <option value="memberAddress">주소</option>
            </select>
            <span>
              <input type="text" name="memberSearchClassificationInput">
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">성별</th>
          <td>
            <input type="checkbox" name="memberSexCheck" value="남성">남성
            <input type="checkbox" name="memberSexCheck" value="여성">여성
            <input type="checkbox" name="memberSexCheck" value="기타">기타
          </td>
        </tr>
        <tr>
          <th scope="row">생일</th>
          <td>
            시작일 <input name="memberBirthdayStart" type="date"
                       placeholder="Start Date">
            종료일 <input name="memberBirthdayEnd" type="date"
                       placeholder="Ended Date">
          </td>
        </tr>
        <tr>
          <th scope="row">가입일</th>
          <td>
            시작일 <input name="memberRegDateStart" type="datetime-local"
                      placeholder="Start Date">
            종료일 <input name="memberRegDateEnd" type="datetime-local"
                      placeholder="Ended Date">
          </td>
        </tr>
        <tr>
          <th scope="row">주문일</th>
          <td>
            시작일 <input name="memberOrderDateStart" type="datetime-local"
                      placeholder="Start Date">

            <!--2018년을 입력하면 잘못된 데이터라고 뜨는 현상...말 안돼-->
            종료일 <input name="memberOrderDateEnd" type="datetime-local"
                      placeholder="Ended Date">
          </td>
        </tr>
        <tr>
          <th scope="row">제출</th>
          <td>
            <input type="submit"/>
          </td>
        </tr>
        </tbody>
      </form>
    </table>
  </div>

  <!--<table border="1" summary="">-->
  <!--<caption>상품검색</caption>-->
  <!--<tbody>-->
  <!--<tr>-->
  <!--<th scope="row">검색분류</th>-->
  <!--<td>-->
  <!--<select>-->
  <!--<option value="product_name">상품명</option>-->
  <!--<option value="product_code">제품코드(관리자)</option>-->
  <!--</select>-->
  <!--<span>-->
  <!--<form method="post" action="/admin/product/product_search/result">-->
  <!--<input type="text" name="productName">-->
  <!--<input type="submit">-->
  <!--</form>-->
  <!--</span>-->

  <!-- (검색 전)모든 상품 리스트 | (검색 후)상품 검색 결과 -->
  <!--<div>-->
    <!--<table>-->
      <!--<thead>-->
      <!--<tr>-->
        <!--<th>id</th>-->
        <!--<th>상품코드</th>-->
        <!--<th>이름</th>-->
        <!--<th>판매가</th>-->
        <!--<th>판매량</th>-->
        <!--<th>안전재고</th>-->
        <!--<th>제조 공장</th>-->
        <!--<th>제조일</th>-->
        <!--<th>원가</th>-->
        <!--<th>가격대체문구</th>-->
        <!--<th>출시일</th>-->
        <!--<th>배송비</th>-->
      <!--</tr>-->
      <!--</thead>-->
      <!--<tbody>-->
      <!--<tr th:each="product : ${allProductList != null ? allProductList : allProductListSearchResult}">-->
        <!--<td th:text="${product.id}">###</td>-->
        <!--<td th:text="${product.code}">###</td>-->
        <!--<td th:text="${product.name}">###</td>-->
        <!--<td th:text="${product.sellingPrice}">###</td>-->
        <!--<td th:text="${product.sellingQuantity}">###</td>-->
        <!--<td th:text="${product.safeQuantity}">###</td>-->
        <!--<td th:text="${product.manufacturer}">###</td>-->
        <!--<td th:text="${product.manufactureDate}">###</td>-->
        <!--<td th:text="${product.originalPrice}">###</td>-->
        <!--<td th:text="${product.optionalPriceText}">###</td>-->
        <!--<td th:text="${product.releaseDate}">###</td>-->
        <!--<td th:text="${product.shippingPrice}">###</td>-->
      <!--</tr>-->
      <!--</tbody>-->
    <!--</table>-->

    <!-- 모든 상품 리스트 페이지 번호 -->
    <!--<div id="page-numbers">-->
      <!--<th:block th:each="item : ${#numbers.sequence(1, productPageCount)}">-->
        <!--<a th:href="@{'/admin/product/search?page=' + ${item}}">-->
          <!--<span th:text="${item}"></span>-->
        <!--</a>-->
      <!--</th:block>-->
    <!--</div>-->

  <!--</div>-->

  <!--<script th:src="@{/js/product-search.js}"></script>-->
</div>

</html>