.cart-tbl {
  /*width: 600px;*/
  margin: 150px auto 40px auto;
}

.cart-product-info-col {
  display: flex;
}

.cart-image {
  width: 90px;
  height: 90px;
}

.cart-tbl-below {
  display: flex;
  justify-content: space-between;
}

.tbl-th {
  display: flex;
}

.tbl-tr {
  display: flex;
}

.tbl-list {
  list-style: none;
}

.cart-cal-total-price {
  margin-bottom: 80px;
}