#header {
  background-color: #EABD47;
  width: 100%;
  height: 70px;
  display: flex;
  padding: 0 15px 0 40px;
  position: fixed;
  top: 0;
  z-index: 1;
}

#header a {
  text-decoration: none;
}

.header-img-a {
  margin: auto 20px auto 5px;
}

#header img {
  width: auto;
  height: 30px;
}

.header-menu {
  /*width: 80px;*/
  height: 100%;
  text-align: center;
  align-self: center;
  line-height: 70px;
  color: #444444;
  padding: 0 10px;
  font-family: 'Do Hyeon', sans-serif;
}

.header-menu:hover {
  background-color: #eaae1c;
}

.header-menu {
  font-size: 20px;
  font-weight: 500;
}

.header-menu a {
  vertical-align: middle;
  line-height: normal;
  text-decoration: none;
}

.header-admin-home-btn {
  margin-left: auto;
}

#container {
  display: flex;
}

.left-navbar {
  width: 250px;
  height: 900px;
  background-color: #efefef;
  padding-top: 40px;
  margin-top: 65px;
}

.navbar-menu {
  padding: 5px 10px;
  margin: 5px 5px 5px 15px;
}

.navbar-menu a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}

.navbar-menu a:visited {
  color: black;
}

.navbar-menu a:hover {
  color: #5F95D7;
}

#dashboard {
  margin: 90px 0 0 40px;
  width: 80%;
}

#product-option-search-form {
  margin-bottom: 30px;
}

.tbl-container {
  /*width: 85%;*/
  width: 100%;
}

.above-tbl {
  display: flex;
  justify-content: space-between;
}

.above-tbl a {
  /*margin-right: 118px;*/
}

#product-option-list-tbl {
  width: 100%;
  margin-top: 10px;
}

#product-option-list-tbl th, td {
  padding: 6px;
}

#product-option-list-tbl th {
  background-color: rgba(214, 214, 214, 0.57);
}

#product-option-list-tbl th:nth-of-type(1), #product-option-list-tbl td:nth-of-type(1) {
  text-align: left;
}

#page-numbers {
  margin-top: 30px;
  text-align: center;
}

#page-numbers a {
  margin-right: 10px;
  font-size: 20px;
  text-decoration: none;
}

#page-numbers a:visited {
  color: inherit;
}

.carousel-inner > .item > img {
  width:640px;
  height:400px;
}

.user-dashboard {
  /*width: 100%;*/
  margin: 0 50px 10px 50px;
}

.user-content {
  margin: 90px 0 0 90px;
  width: 80%;
}

.user-header{
  float: left; width: 33%; padding:10px; text-align: center;
}

#user-header-search{
  order: 1;
}

.user-header-category{
  float: left;
  width: 25%;
  padding: 20px;
  text-align: center;
}

.user-header-category .middle-category {
  display: none; /* 평상시에는 서브메뉴가 안보이게 하기 */
  height: auto;
  padding: 0;
  margin: 0;
  border: 0;
  position: absolute;
  width: 200px;
  z-index: 200;
  list-style: none; /* 리스트 쩜 없애기 */
}

.user-header-category:hover .middle-category {
  display: block; /* 마우스 커서 올리면 서브메뉴 보이게 하기 */
}

/* User Product-detail Page CSS */
#root-info {
  width: 100%;
  height: auto;
  min-height: 520px;
  margin-top: 5%;
}

#top-info-left {
  width: 45%;
  height: auto;
  position: relative;
  float: left;
}
#top-info-right {
  width: 55%;
  height: auto;
  position: relative;
  float: right;
}
#top-info-left-abs {
  position: absolute;
  top: 0px;
  left: 10%;
  right: 2%;
}

#top-info-right-abs {
  position: absolute;
  top: 0px;
  left: 3%;
  right: 10%;
}

#option-selector {
  width: 100%;
  height: 32px;
  background-color: white;
  font-size: 13px;
  padding-left: 12px;
}

#order-index-result {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: right;
  display: none;
}

#order-index-total-price {
  color: red;
  font-size: 30px;
  font-weight: bold;
  margin-left: 15px;
}

.order-index-button {
  position: relative;
  width: 28px;
  height: 28px;
  border: 1px solid #d4d4d4;
  border-radius: 0;
  background: #fff;
  font-size: 15px;
  color: #d4d4d4;
  cursor: pointer;
  text-decoration: none;
  vertical-align: top;
}

.order-option-delete-button {
  width: 30px;
  height: 30px;
  overflow: hidden;
  text-indent: -9999em;
  padding: 6px;
  font-size: .75rem;
  line-height: 1em;
  border: 1px solid #d4d4d4;
  color: #a0a0a0;
  background: url('http://img.29cm.co.kr/mall/order/icon-remove.png') no-repeat 9px 50%;
  background-size: 40px auto;
}

.option-order-quantity {
  width: 35px;
  height: 28px;
  padding-top: 2px;
  border: 1px solid #d4d4d4;
  border-width: 1px 0;
  margin: 0;
  font-size: 13px;
  color: #666;
  text-align: center;
  box-sizing: border-box;
  vertical-align: top;
  IME-MODE:disabled;
}

.shopping-bag-button {
  width: 49%;
  height: 43px;
  background-color: white;
  font-weight: bold;
  margin: 0px;
  border-radius:10px 0 10px 0;
}

.buy-now-button {
  width: 50%;
  height: 43px;
  border: none;
  background-color: black;
  font-weight: bold;
  color: white;
  margin: 0px;
  border-radius:10px 0 10px 0;
}

.buy-now-button:hover {
  background-color: #F7D358;
}

.order-index-table-option {
  width: 49%;
  height: 50px;
  font-size: 17px;
  font-weight: bold;
}

.order-index-table-price {
  width: 20%;
  font-size: 17px;
  font-weight: bold;
  text-align: right;
}

.order-index-table-quantity {
  width: 25%;
  text-align: right;
}

.order-index-table-delete {
  width: 5%;
}

.order-index-hidden-price {
  width : 1%;
}

.product-info {
  margin-left: 5%;
  margin-right: 5%;
}

.product-info-margin {
  margin-top: 5%;
}

.product-name {
  font-size: 25px;
  color: black;
  font-weight: bold;
}

.product-price {
  font-size: 24px;
  color: red;
  font-weight: bold;
}

.li-line-height {
  line-height: 25px;
}

.product-table-th {
  width: 30%;
  border: 1px solid #d3d3d3;
  padding: 10px;
}

.product-table-td {
  width: 70%;
  border: 1px solid #d3d3d3;
  padding: 23px;
}