#header {
  background-color: #EABD47;
  width: 100%;
  height: 70px;
  display: flex;
  padding: 0 15px 0 40px;
  position: fixed;
  top: 0;
}

#header a {
  text-decoration: none;
}

#header img {
  width: auto;
  height: 30px;
  margin: auto 20px auto 5px;
}

.header-menu {
  width: 80px;
  height: 100%;
  text-align: center;
  align-self: center;
  line-height: 70px;
  color: #444444;
  padding: 0 10px;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.header-menu:hover {
  background-color: #eaae1c;
}

.header-menu a {
  vertical-align: middle;
  line-height: normal;
  text-decoration: none;
}

#container {
  display: flex;
}

#container > div:nth-of-type(2) {
  margin-top: 65px;
}

.left-navbar {
  width: 250px;
  height: 900px;
  background-color: #efefef;
  padding-top: 40px;
  margin-top: 65px;
}

.navbar-menu {
  padding: 5px 10px;
  margin: 5px 5px 5px 15px;
}

.navbar-menu a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}

.navbar-menu a:visited {
  color: black;
}

.navbar-menu a:hover {
  color: #5F95D7;
}

#dashboard {
  margin: 90px 0 0 40px;
  width: 80%;
}

#product-option-search-form {
  margin-bottom: 30px;
}

.tbl-container {
  width: 85%;
}

.above-tbl {
  display: flex;
  justify-content: space-between;
}

.above-tbl a {
  /*margin-right: 118px;*/
}

#product-option-list-tbl {
  width: 100%;
  margin-top: 10px;
}

#product-option-list-tbl th, td {
  padding: 6px;
}

#product-option-list-tbl th {
  background-color: rgba(214, 214, 214, 0.57);
}

#product-option-list-tbl th:nth-of-type(1), td:nth-of-type(1) {
  text-align: left;
}

#page-numbers {
  margin-top: 30px;
  text-align: center;
}

#page-numbers a {
  margin-right: 10px;
  font-size: 20px;
  text-decoration: none;
}

#page-numbers a:visited {
  color: inherit;
}