<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/user-default}">

  <head th:include="fragments/config :: configFragment">
    <!-- "configFragment" 전체가 여기로 들어오는데,
         단 <title>은 th:include=":: #pageTitle"와 같이 하단의 내용을 참조(포함)한다 -->
    <title id="pageTitle">Cart &mdash; Holiday Something</title>

    <!-- 사용자 CSS 추가 -->
    <!-- layout:fragment="xxx" => decorate 파일에 있는 xxx와 이름이 맞아야만 HTML에 포함된다 -->
    <th:block layout:fragment="css">
      <link rel="stylesheet" type="text/css" media="screen" th:href="@{/static/css/cart.css}"/>
      <link rel="stylesheet" type="text/css" media="screen" th:href="@{/static/css/header.css}"/>
    </th:block>

    <!-- 사용자 스크립트 추가 -->
    <th:block layout:fragment="script">

    </th:block>
  </head>

  <div layout:fragment="userTitle">


    <div class="order-flow">
      <ol>
        <li><span>01 SHOPPING BAG > </span></li>
        <li><span>02 ORDER > </span></li>
        <li><span>03 ORDER CONFIRMED</span></li>
      </ol>
    </div>

    <!-- 카트 상품 리스트(표) -->
    <table class="cart-tbl">
      <tr class="cart-tr-th product-list">
        <th class="th-checkbox">
          <!--<input type="checkbox"/>-->
          <input type="checkbox" id="checkbox-all"/>
          <label for="checkbox-all" id="checkbox-all-label">
            <div><i class="fa fa-check"></i></div>
          </label>
        </th>
        <th>상품 정보</th>
        <th>수량</th>
        <th>주문금액</th>
        <th>배송비</th>
      </tr>
      <tr class="tr-product" th:each="cartProduct, iStat : ${cartProducts}">
        <!-- checkbox -->
        <td class="tr-checkbox">
          <input type="checkbox" th:id="${cartProduct.cartProductId}" checked />
          <label th:for="${cartProduct.cartProductId}">
            <div><i class="fa fa-check"></i></div>
          </label>
        </td>
        <!-- 상품 정보 -->
        <td class="tr-product-info">
          <div class="product-image-div">
            <img th:src="${cartProduct.imagePath}" alt="product_image_path" />
          </div>
          <div>
            <p class="product-name" th:text="${cartProduct.productName}"></p>
            <p class="product-price product-original-price">
              <span th:text="${#numbers.formatDecimal(cartProduct.originalPrice, 0, 'COMMA', 0, 'POINT')} + '원'"></span>
            </p>
            <p class="product-price product-selling-price">
              <span th:with="discountRate = ${((0.0 + cartProduct.originalPrice - cartProduct.sellingPrice) / cartProduct.originalPrice) * 100}"
                  th:text="${cartProduct.originalPrice != cartProduct.sellingPrice} ?
              '[' + ${#numbers.formatDecimal(discountRate, 0, 'COMMA', 0, 'POINT')} + '%]'
              + ${#numbers.formatDecimal(cartProduct.sellingPrice, 0, 'COMMA', 0, 'POINT')} + '원' : '&nbsp;'"></span>
            </p>
            <p class="product-price product-option-price">
              <span th:text="${cartProduct.productOptionPrice != null} ?
              '옵션추가비용 ' + ${#numbers.formatDecimal(cartProduct.productOptionPrice, 0, 'COMMA', 0, 'POINT')} + '원' : '&nbsp;'"></span>
            </p>
            <p class="product-option">
              <span th:text="${cartProduct.productOptionName != null} ?
              '옵션: ' + ${cartProduct.productOptionName} : '&nbsp;'"></span>
            </p>
          </div>
          <div class="btn-remove-div">  <!-- Cart에서 상품 삭제 -->
            <button class="btn-remove" th:id="${cartProduct.cartProductId}"></button>
          </div>
        </td>
        <!-- 수량 -->
        <td>
          <div class="input-quantity">
            <button class="quantity-minus">-</button>
            <input type="text" th:value="${cartProduct.quantity}">
            <button class="quantity-plus">+</button>
          </div>
        </td>
        <!-- 주문금액 -->
        <td class="cart-order-price" th:with="result = ${cartProduct.productOptionPrice == null}
                ? ${cartProduct.sellingPrice * cartProduct.quantity} : ${(cartProduct.sellingPrice + cartProduct.productOptionPrice) * cartProduct.quantity}">
          <p><span th:text="${#numbers.formatDecimal(result, 0, 'COMMA', 0, 'POINT')}"></span>원</p>
          <button class="btn-buynow">Buy Now</button>
        </td>
        <!-- 배송비 -->
        <td class="cart-order-shipping-price">
          <p><span th:text="${cartProduct.shippingPrice > 0} ?
          ${#numbers.formatDecimal(cartProduct.shippingPrice, 0, 'COMMA', 0, 'POINT')} + ' 원' : '무료 배송'"></span></p>
        </td>

        <!-- 'CHECK OUT' 버튼 눌렀을 때, 상품 정보 전송 -->
        <!-- TODO: quantity 변경 시 가격에 반영해야 함 -->
        <input type="hidden" th:name="'ProductOrderInfoDtos[' + ${iStat.index} + '].productId'" th:value="${cartProduct.productId}" form="orderForm" >
        <input type="hidden" th:name="'ProductOrderInfoDtos[' + ${iStat.index} + '].optionId'" th:value="${cartProduct.productOptionId}" form="orderForm" >
        <input type="hidden" th:name="'ProductOrderInfoDtos[' + ${iStat.index} + '].quantity'" th:value="${cartProduct.quantity}" form="orderForm" >
      </tr>
    </table>

    <!-- 상품 삭제 버튼 / 상품 만료일 안내 -->
    <div class="cart-tbl-below">
      <div class="dlt-product-btn">
        <button class="remove-selected-products">선택상품 삭제</button>
        <button>품절상품 삭제</button>
      </div>
      <p>장바구니는 접속 종료 후 60일 동안 보관됩니다.</p>
    </div>

    <!-- 총 결제금액 계산 결과 (표) -->
    <table class="cart-tbl result-tbl">
      <tr class="cart-tr-th total-pay">
        <th>총 주문금액</th>
        <th>총 배송비</th>
        <th>총 결제금액</th>
      </tr>
      <tr class="pay-price">
        <td>
          <span class="price-large-txt" th:text="${#numbers.formatDecimal(totalPrice, 0, 'COMMA', 0, 'POINT')} + '원'"></span>
          <span>총 <span th:text="${#numbers.formatDecimal(productCount, 0, 'COMMA', 0, 'POINT')} + ' 개'"></span></span>
        </td>
        <td>
          <span>+</span>
          <span class="price-large-txt" th:text="${#numbers.formatDecimal(totalShippingPrice, 0, 'COMMA', 0, 'POINT')} + '원'"></span>
        </td>
        <td>
          <span>=</span>
          <span class="price-large-txt" th:text="${#numbers.formatDecimal(totalPaymentPrice, 0, 'COMMA', 0, 'POINT')} + '원'"></span>
        </td>
      </tr>
    </table>

    <!-- 쇼핑 계속 / 결제화면 버튼 -->
    <form class="order-btn-wrap" action="/user/product/order" method="post" id="orderForm">
      <button class="btn-shopping" type="submit">CONTINUE SHOPPING</button>
      <button class="btn-checkout" type="submit">CHECK OUT</button>
    </form>
  </div>

  <!-- 카트 -->
  <div layout:fragment="userContents">

  </div>

  <th:block layout:fragment="script-body">
    <script th:src="@{/static/js/cart.js}"></script>
  </th:block>
</html>