<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/user-default}">

  <head th:include="fragments/config :: configFragment">
    <!-- "configFragment" 전체가 여기로 들어오는데,
         단 <title>은 th:include=":: #pageTitle"와 같이 하단의 내용을 참조(포함)한다 -->
    <title id="pageTitle">Cart &mdash; Holiday Something</title>

    <!-- 사용자 CSS 추가 -->
    <!-- layout:fragment="xxx" => decorate 파일에 있는 xxx와 이름이 맞아야만 HTML에 포함된다 -->
    <th:block layout:fragment="css">
      <link rel="stylesheet" type="text/css" media="screen" th:href="@{/static/css/cart.css}"/>
    </th:block>

    <!-- 사용자 스크립트 추가 -->
    <th:block layout:fragment="script">

    </th:block>
  </head>

  <div layout:fragment="userTitle">
    <!-- 카트 상품 리스트(표) -->
    <table class="cart-tbl">
      <tr>
        <th>(체크박스)</th>
        <th>상품 정보</th>
        <th>수량</th>
        <th>주문금액</th>
        <th>배송비</th>
      </tr>
      <tr th:each="cartProduct : ${cartProducts}">
        <td>(체크박스)</td>
        <td class="cart-product-info-col">
          <div>
            <img class="cart-image" th:src="${cartProduct.imagePath}" alt="product_image_path" />
          </div>
          <div>
            <p th:text="${cartProduct.productName}">productName</p>
            <p><span th:text="${cartProduct.originalPrice}"></span>원</p>
            <p><span th:text="${cartProduct.sellingPrice}"></span>원</p>
          </div>
        </td>
        <td>
          <span th:text="${cartProduct.quantity}">수량</span>
        </td>
        <td th:with="result=${cartProduct.sellingPrice * cartProduct.quantity}">
          <p><span th:text="${result}"></span>원</p>
        </td>
        <td>
          <p><span th:text="${cartProduct.shippingPrice}"></span> 원</p>
        </td>
      </tr>
    </table>

    <!-- 상품 삭제 버튼 / 상품 만료일 안내 -->
    <div class="cart-tbl-below">
      <div class="dlt-product-btn">
        <button>선택상품 삭제</button>
        <button>품절상품 삭제</button>
      </div>
      <div>
        <p>장바구니는 접속 종료 후 60일 동안 보관됩니다.</p>
      </div>
    </div>

    <!-- 총 결제금액 계산 결과(표) -->


    <!-- 쇼핑 계속 / 결제화면 버튼 -->

  </div>

  <!-- 카트 -->
  <div layout:fragment="userContents">

  </div>

</html>