<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xml:th="http:/www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/user-index}">

<head th:include="fragments/config :: configFragment">
  <title id="pageTitle">Holiday Something</title>
  <!-- other elements you want to reference in your layout -->
</head>

<th:block layout:fragment="css">
  <link rel="stylesheet" type="text/css" media="screen" th:href="@{/static/css/header.css}"/>
</th:block>

<div layout:fragment="indexDashboard">

  <div class="uk-position-relative uk-visible-toggle uk-dark" tabindex="-1"
       uk-slideshow="animation: slide; ratio: 1600:730; autoplay: true; autoplay-interval: 4000; velocity: 1.2;">

    <ul class="uk-slideshow-items">
      <li>
        <img src="https://res.cloudinary.com/z62nzgspc8/image/upload/v1548555288/holiday-something-images/%EB%A6%AC%EC%82%AC%EC%9D%B4%EC%A7%95/IMG_0498.jpg" alt="" uk-cover>
      </li>
      <li>
        <img src="https://res.cloudinary.com/z62nzgspc8/image/upload/v1548555370/holiday-something-images/%EB%B3%B4%EC%A0%95/%E1%84%8A%E1%85%A5%E1%86%B7%E1%84%82%E1%85%A6%E1%84%8B%E1%85%B5%E1%86%AF.jpg" alt="" uk-cover>
      </li>
      <li>
        <img src="https://res.cloudinary.com/z62nzgspc8/image/upload/v1548555408/holiday-something-images/%EC%95%84%EC%B9%B4%EC%9D%B4%EB%B8%8C%20(1)/IMG_9716.jpg" alt="" uk-cover>
      </li>
    </ul>

    <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
  </div>

  <!-- 로그인 되어있지 않은 경우, mock 데이터로 임시 계정 생성 -->
  <div sec:authorize="!isAuthenticated()">
    <form method='POST' th:action="@{/user/add}">
      <input type="submit" value="임시회원 등록">
    </form>
  </div>
</div>

<div layout:fragment="userContents">

</div>

</html>