<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xml:th="http:/www.thymeleaf.org"
      layout:decorate="~{layout/user-default.html}">

<head>
  <title id="pageTitle">유저 &mdash; 주문</title>
</head>

<th:block layout:fragment="css">
  <link rel="stylesheet" type="text/css" media="screen" th:href="@{/static/css/header.css}"/>
</th:block>

<div layout:fragment="userContents">
  <div>
      <!-- 주문 정보 -->
      <div>
        <div>
          주문이 완료되었습니다.
          주문번호 : <span th:text="${order.orderNumber}"></span>
        </div>



        <h1>주문자 정보</h1>
        <span th:text="${order}"></span>
        <div>
          <div>
            <span>주문자<span style="color: red"> * </span></span>

          </div>

          <div>
            <span>연락처<span style="color: red"> * </span></span>
          </div>

          <div>
            <span>이메일<span style="color: red"> * </span></span>
          </div>
        </div>


        <h1>배송 정보</h1>
        <div>
          <div>
            <input type="radio" name="addressType" value="existingAddress" checked="checked" /> 기존 배송지
            <input type="radio" name="addressType" value="newAddress" onclick="removeInputText()"/> 신규 입력
          </div>

          <div id="orderShippingDiv" style="display: block;">
            <div>
              <span>수령인<span style="color: red"> * </span></span>
            </div>

            <!-- 우편번호 검색 -->
            <div>
              <span>배송지<span style="color: red"> * </span></span>
            </div>

            <div>
              <span>연락처<span style="color: red"> * </span></span>
            </div>

            <div>
              <span>배송시 요청사항</span>
            </div>

          </div>
        </div>


        <h1>마일리지</h1>
        <div class="mileageDiv">
          <div>
            <span> 마일리지 : </span>
          <div>
            <span> 보유 마일리지 : </span>
                     </div>
        </div>

        <h1>결제 정보</h1>
        <div>
          <div>입금계좌 : 우체국 주미선 012591-02-325779</div>
        </div>
      </div>

      <!-- 주문할 상품 -->
      <div>
        오른쪽으로 가줄래?
        <!-- 돌아가는 코드 -->

        <input type="hidden" name="order" th:value="${order}">

        으아아아아아아아아
      </div>
  </div>
</div>
</div>

<th:block layout:fragment="script">
  <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
  <script th:src="@{/static/js/user-order.js}"></script>
</th:block>




</html>