<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xml:th="http:/www.thymeleaf.org"
      layout:decorate="~{layout/user-default.html}">

<head>
  <title id="pageTitle">유저 &mdash; 주문</title>
</head>

<div layout:fragment="userContents">
  <div>
      <!-- 주문 정보 -->
      <div>
        <div>
          주문이 완료되었습니다.
          주문번호 : <span th:text="${order.orderNumber}"></span>
        </div>

        <h1>주문 상품 정보</h1>
        <div>
           <span>주문상품정보/</span><span th:text="${#lists.size(productOrderDetailDtos)}">개</span>
          <div th:each="productOrderDetailDtos, stat : ${productOrderDetailDtos}" th:with="index=${stat.index}">
            키득<img  th:text="${stat.index}" th:src="${productOrderDetailDtos.img}" width="100px" height="100px" alt="공사중,,,">
            <div th:text="${productOrderDetailDtos.manufacturer}">###</div>
            <div th:text="${productOrderDetailDtos.productName}">###</div>
            <div th:text="${productOrderDetailDtos.optionName}">###</div>
            <div th:text="${productOrderDetailDtos.quantity}">###</div>
            <div th:text="${orderStatus}">###</div>
          </div>
        </div>


        <h1>주문 정보</h1>
        <div> 무통장입</div>
        주문일<div th:text="${order.date}">###</div>
        총결제금액<div th:text="${productOrderCompleteDto.orderTotalPayment}"></div>
        배송비<div th:text="${shipping.orderTotalShippingPrice}"></div>
        주문상태<div th:text="${orderStatus}">###</div>




        <h1>배송 정보</h1>
        <div>
          <div id="orderShippingDiv" style="display: block;">
            <!-- 우편번호 검색 -->
            <div>
              <span>받으시는 분</span></span>
              <div th:text="${shipping.orderRecipientNameInput}">###</div>
            </div>

            <div>
              <span>휴대폰 번호</span>
              <div th:text="${shipping.orderRecipientPhoneInput}">###</div>
            </div>

            <div>
              <span>주소</span>
              <span th:text="'('+ ${shipping.orderRecipientPostcodeInput} + ')' "></span>
              <span th:text="${shipping.orderRecipientAddress1Input}">###</span>
              <span th:text="${orderRecipientAddress2Input}">###</span>
            </div>

            <div>
              <span>배송시 요청사항</span>
              <div th:text="${shipping.orderRecipientMessageInput}">###</div>
            </div>

          </div>
        </div>

      <!-- 주문할 상품 -->
  </div>
</div>
</div>

<th:block layout:fragment="script">
  <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
  <script th:src="@{/static/js/user-order.js}"></script>
</th:block>




</html>