<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xml:th="http:/www.thymeleaf.org"
      layout:decorate="~{layout/user-default.html}">

<head>
  <title id="pageTitle">유저 &mdash; 주문</title>

  <th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/static/css/header.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/static/css/order.css}"/>
  </th:block>


</head>

<div layout:fragment="userContents">
  <div class="entire-container">
    <form method="post" action="/user/product/order/finish">

      <div class="two-container">
        <!-- 주문 정보 -->
        <div class="left-container">
          <div class="product-info-margin">
            <div class="product-info-name">
              <span style="font-size: 20px; font-weight: bold; ">주문자 정보</span>
            </div>
            <table class = "opacity" width="100%">
              <tbody>
              <tr>
                <th class="order-product-table-th">주문자<span style="color: red"> * </span></th>
                <td class="order-product-table-td">
                  <input type="text" name="orderMemberNameInput" th:value="${addOrderMemberDto.name}" >
                </td>
              </tr>

              <tr>
                <th class="order-product-table-th">연락처<span style="color: red"> * </span></th>
                <td class="order-product-table-td">
                  <input type="text" name="orderMemberPhoneInput" th:value="${addOrderMemberDto.phone}">
                </td>
              </tr>

              <tr>
                <th class="order-product-table-th">이메일<span style="color: red"> * </span></th>
                <td class="order-product-table-td">
                  <input type="text" name="orderMemberEmailInput" th:value="${addOrderMemberDto.email}">
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="product-info-margin">
            <div class="product-info-name">
              <span style="font-size: 20px; font-weight: bold">배송 정보</span>
            </div>
            <div style="margin-top: 10px;">
              <span style="margin-right: 10px;"><input type="radio" name="addressType" value="existingAddress" checked="checked" /> 기존 배송지</span>
              <span><input type="radio" name="addressType" value="newAddress" onclick="removeInputText()"/> 신규 입력</span>
            </div>

            <table width="100%">
              <tbody>
              <tr>
                <th class="order-product-table-th">수령인<span style="color: red"> * </span></th>
                <td class="order-product-table-td">
                  <input type="text" id="orderRecipientNameInput" name="orderRecipientNameInput" th:value="${addOrderMemberDto.name}" placeholder="수령">
                </td>
              </tr>

              <tr>
                <th class="order-product-table-th">배송지<span style="color: red"> * </span></th>
                <td class="order-product-table-td">
                  <input type="text" th:value="${addOrderMemberDto.postcode}" id="orderRecipientPostcodeInput" name="orderRecipientPostcodeInput" placeholder="우편번호"> <!--postcode-->
                  <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
                  <input type="text" th:value="${addOrderMemberDto.address1}" id="orderRecipientAddress1Input" name="orderRecipientAddress1Input" placeholder="도로명주소"> <!--address1-->
                  <span id="guide" style="color:#999;display:none"></span>
                  <input type="text" th:value="${addOrderMemberDto.address2}" id="orderRecipientAddress2Input" name="orderRecipientAddress2Input" placeholder="상세주소"> <!--address2-->
                </td>
              </tr>

              <tr>
                <th class="order-product-table-th">연락처<span style="color: red"> * </span></th>
                <td class="order-product-table-td">
                  <input type="text" name="orderRecipientPhoneInput" id="orderRecipientPhoneInput" th:value="${addOrderMemberDto.phone}" placeholder="연락처">
                </td>
              </tr>

              <tr>
                <th class="order-product-table-th">배송시 요청사항</th>
                <td class="order-product-table-td">
                  <input type="text" name="orderRecipientMessageInput" placeholder="배송시 요청사항을 입해주세요">
                </td>
              </tr>

              </tbody>
            </table>

            <div style="font-size: x-small" >
              <div>- 도서산간 지역의 경우 추후 수령 시 추가 배송비가 발생할 수 있으며, 해외배송은 불가합니다.</div>
              <div>- 배송지 불분명 및 수신불가 연락처 기입으로 반송되는 왕복 택배 비용은 구매자 부담으로 정확한 주소 및 통화 가능한 연락처 필수 기입.</div>
              <div>- 대리 주문으로 해외 주소로 발송 전, 주문품 꼭 확인해주세요. 오배송 및 불량 교환에 따른 배송비는 국내 택배 비용만 지원됩니다.</div>
            </div>

          </div>

          <div class="product-info-margin">
            <div class="product-info-name">
              <span style="font-size: 20px; font-weight: bold">마일리지</span>
            </div>

            <table width="100%">
              <tbody>
              <tr>
                <th class="order-product-table-th">마일리지<span style="color: red"> * </span></th>
                <td class="order-product-table-td">
                  <input type="text" name="orderMemberMileageInput" id="orderMemberUseMileage" th:value="0" onchange="RecalcuSubTotal(this)">
                  <input id="btnUseAllMileage" type="button" onclick="useAllMileage()" value="모두사용">
                  <p>
                    <span> 보유 마일리지 : </span>
                    <span name="orderMemberMileageInput" id="orderMemberHasMileage" th:text="${addOrderMemberDto.mileage}"></span>
                    <span style="display:none" id="hiddenMileage" th:text="${addOrderMemberDto.mileage}"></span>
                  </p>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="product-info-margin">
            <div class="product-info-name">
              <span style="font-size: 20px; font-weight: bold">결제 정보</span>
            </div>

            <table width="100%">
              <tbody>
              <tr>
                <th class="order-product-table-th">입금계좌</th>
                <td class="order-product-table-td">
                  <div>우체국 주미선 012591-02-325779</div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- 주문할 상품 -->
        <div class="right-container">
          <!-- 돌아가는 코드 -->
          <table class="cart-tbl">
            <tr class="cart-tr-th product-list">
              <th>상품 정보</th>
            </tr>

            <tr class="tr-product" th:each="productOrderDetailDto, stat : ${productOrderDetailDtos}" th:with="index=${stat.index}">
              <!-- 상품 정보 -->
              <td class="tr-product-info">
                <div class="product-image-div">
                  <img th:src="${productOrderDetailDto.img}" width="100px" height="100px" alt="공사중,,,">
                </div>
                <div>
                  <p class="product-name" th:text="${productOrderDetailDto.productName}"></p>

                  <p class="product-option">
                    <span th:text="${productOrderDetailDto.optionName != null} ? '옵션: ' + ${productOrderDetailDto.optionName} : '&nbsp;'"></span>
                    <span th:text="${productOrderDetailDto.optionPrice != null} ? '/ 옵션추가비용 ' + ${#numbers.formatDecimal(productOrderDetailDto.optionPrice, 0, 'COMMA', 0, 'POINT')} + '원' : '&nbsp;'"></span>
                  </p>

                  <p class="product-price product-selling-price">
                    <span th:with="discountRate = ${((0.0 + productOrderDetailDto.originalPrice - productOrderDetailDto.sellingPrice) / productOrderDetailDto.originalPrice) * 100}"
                          th:text="${productOrderDetailDto.originalPrice != productOrderDetailDto.sellingPrice} ?
                      '[' + ${#numbers.formatDecimal(discountRate, 0, 'COMMA', 0, 'POINT')} + '%]' : ''"></span>

                    <span th:with="result = ${productOrderDetailDto.sellingPrice}" th:text="${productOrderDetailDto.optionPrice != null} ?
                     ${#numbers.formatDecimal(productOrderDetailDto.optionPrice + result, 0, 'COMMA', 0, 'POINT')} + '원' :
                     ${#numbers.formatDecimal(productOrderDetailDto.sellingPrice, 0, 'COMMA', 0, 'POINT')} + '원'"></span>

                    <span>수량 : </span> <span th:text="${productOrderDetailDto.quantity}"></span><span>개</span>
                  </p>
                </div>
              </td>

              <input type="hidden" th:name="'productOrderDetailDtos[' + ${stat.index} + '].img'">
              <input type="hidden" th:name="'productOrderDetailDtos[' + ${stat.index} + '].manufacturer'">
              <input type="hidden" th:name="'productOrderDetailDtos[' + ${stat.index} + '].productName'">
              <input type="hidden" th:name="'productOrderDetailDtos[' + ${stat.index} + '].optionName'">

            </tr>

            <div th:each="productOrderInfoDto, stat : ${productOrderInfoDtos}" th:with="index=${stat.index}">
              <span th:text="${productOrderInfoDto.productId}">상품아이디</span>
              <input type="hidden" th:name="'productOrderInfoDtos[' + ${stat.index} + '].productId'" th:value="${productOrderInfoDto.productId}">
              <input type="hidden" th:name="'productOrderInfoDtos[' + ${stat.index} + '].optionId'" th:value="${productOrderInfoDto.optionId}">
              <input type="hidden" th:name="'productOrderInfoDtos[' + ${stat.index} + '].quantity'" th:value="${productOrderInfoDto.quantity}">
            </div>
          </table>

          <!--<div>-->
          <!--<div><span style="display:none" id="hiddenTotalPayment" th:text="${#aggregates.sum(productOrderDetailDtos.![sellingPrice]) + #aggregates.sum(productOrderDetailDtos.![shippingPrice])}">원</span></div>-->
          <!--</div>-->

          <table width="100%">
            <tbody>
            <tr>
              <th class="order-product-table-th">총 상품금액 </th>
              <td class="order-product-table-td">
                <input type="hidden" name="orderTotalProductPrice" id="orderTotalProductPrice" th:value="${#aggregates.sum(productOrderDetailDtos.![sellingPrice])}">
                <span th:text="${#aggregates.sum(productOrderDetailDtos.![sellingPrice])}">원</span>
              </td>
            </tr>

            <tr>
              <th class="order-product-table-th">배송비</th>
              <td class="order-product-table-td">
                <input type="hidden" name="orderTotalShippingPrice" id="orderTotalShippingPrice" th:value="${#aggregates.sum(productOrderDetailDtos.![shippingPrice])}">
                <span th:text="${#aggregates.sum(productOrderDetailDtos.![shippingPrice])}">원</span>
              </td>
            </tr>

            <tr>
              <th class="order-product-table-th">마일리지 사용</th>
              <td class="order-product-table-td">
                <input type="hidden" name="orderTotalUseMileage" id="orderTotalUseMileage" th:value="0">
                <span th:text="0">원</span>
              </td>
            </tr>

            <tr>
              <th class="order-product-table-th">총 결제금액</th>
              <td class="order-product-table-td">
                <input type="hidden" name="orderTotalPayment" id="orderTotalPayment" th:value="${#aggregates.sum(productOrderDetailDtos.![sellingPrice]) + #aggregates.sum(productOrderDetailDtos.![shippingPrice])}">
                <span th:text="${#aggregates.sum(productOrderDetailDtos.![sellingPrice]) + #aggregates.sum(productOrderDetailDtos.![shippingPrice])}">원</span>
              </td>
            </tr>

            </tbody>
          </table>


          <div>
            <div></div>
            <div>
              <input class="center-button" value="주문하기" type="submit"/>
              <div>
                <div></div>
              </div>

            </div>

          </div>



    </form>
  </div>
</div>

<th:block layout:fragment="script">
  <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
  <script th:src="@{/static/js/user-order.js}"></script>
</th:block>



</html>