<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:text-align="http://www.w3.org/1999/xhtml"
      xml:th="http:/www.thymeleaf.org"
      layout:decorate="~{layout/user-default}">

<head th:include="fragments/header :: userHeaderFragment">
  <title id="pageTitle">temp</title>
</head>

<th:block layout:fragment="css">
  <link rel="stylesheet" type="text/css" media="screen" th:href="@{/static/css/header.css}"/>
</th:block>

<div layout:fragment="userContents">
  <h1>Temp!! 정보확인용! </h1>
  <label th:text="${id}"></label>
  <label th:text="${username}"></label>
  <label th:text="${nickname}"></label>
</div>


</html>