<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin-default}">

<head th:include="fragments/config :: configFragment">
  <title id="pageTitle">관리자 HOME</title>
  <!-- other elements you want to reference in your layout -->
</head>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <link rel="stylesheet" type="text/css" media="screen" th:href="@{/static/css/admin.css}"/>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">
  <div class="admin-home-container">
    <h1><strong>Holiday Something</strong> 관리자 페이지입니다.</h1>
    <div>
      <h3><a href="/admin/product">상품 관리 바로가기 ></a></h3>
    </div>
    <div>
      <h3><a href="/admin/member">고객 관리 바로가기 ></a></h3>
    </div>
  </div>
</div>

</html>