<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/default.html}">

<head th:include="fragments/config :: configFragment">
  <title id="pageTitle">Page title</title>
  <!-- other elements you want to reference in your layout -->
</head>

<!--<head th:replace="fragments/config :: configFragment (pageTitle='Product Register')">-->
<!--<title>상품등록</title>-->
<!--&lt;!&ndash; metas, link and scripts &ndash;&gt;-->
<!--</head>-->


<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<div layout:fragment="content">
  <!-- 사용자 스크립트 추가 -->
  <th:block layout:fragment="script">
    <script th:src="@{/js/product-add.js}"></script>
  </th:block>
  <h1>Product Add</h1>

  <!--------------------------
          | Product Registration |
          -------------------------->
  <!--  block은 CSS로 크기조절이 가능하고 inline은 안 된다. -->
  <!--  div 는 기본이 block! -->

  <div style="display:block; ">
    <!-- Start(카테코리 출력 부분) (3개의 div) -->

    <div
        style='display:inline-block;min-width:900px;position:relative;left:50px;border:1px solid gold;'>
      <!--<li th:each="category : ${categories}" th:if="${category.parentId == 0 }">-->
      <!--<span th:attr="data-categoryid=${category.id}" class="span"-->
      <!--th:onclick="'getCategoryList(' + ${category.id} + ')'"-->
      <!--th:text="${category.name}"></span>-->
      <!--</li>-->

      <div id="firstCategory" style='display:inline;float:left;width:200px;'>
        <ul id="firstCategoryUl">
        </ul>
      </div>

      <div id="secondCategory" style='display:inline;float:left;width:200px;'>
        <ul id="secondCategoryUl">

        </ul>

      </div>

      <div id="thirdCategory" style='display:inline;float:left;width:200px;'>
        <ul id="thirdCategoryUl">

        </ul>

      </div>

    </div>
    <!-- End(카테고리)-->

    <!-- th:field="*{product.productOptions.description}" 이런식으로 해도 된다는데... 실패했었음.-->
    <form onsubmit="return validate()" action="#" th:action="@{/admin/product/add}" method="post"
          th:object="${product}">

      <!-- Start(현재 선택한 카테고리가 무엇인지 보여주는 부분) -->
      <div style="display:inline-block;position:relative;left:50px;" id="currentCategory">
        <label>선택한 카테고리 : </label>
        <span id="categoryName"></span>
        <span name="productCategoryId" id="categoryId"></span>
        <input id="categoryId2" type="hidden" name="productCategory.id" value="">
        <!--<input th:field="*{productCategoryId}" type="text" value="" placeholder="">-->
      </div>
      <!-- End (현재 선택한 카테고리 보여주는 부분)-->

      <!-- Start (상품 기본정보 등록) -->
      <div style="display: block; position:relative;left:50px;">

        <!--<div th:if="${#fields.hasErrors('*')}" >-->
        <!--<ul>-->
        <!--<li th:each="err : ${#fields.errors('*')}" th:text="${err}">input is incorrect</li>-->
        <!--</ul>-->
        <!--</div>-->

        <div>
          <label th:class="${#fields.hasErrors('name')} ? 'fieldError'">상품명 : </label>
          <input name="name" th:field="*{name}" id="inputName"
                 th:class="${#fields.hasErrors('name')} ? 'fieldError'" type="text"
                 placeholder="Product Name">
          <label th:if="${#fields.errors('name')}" th:errors="*{name}">input is incorrect</label>
        </div>
        <div>
          <label th:class="${#fields.hasErrors('manufacturer')} ? 'fieldError'">제조사 : </label>
          <input name="manufacturer" th:field="*{manufacturer}"
                 th:class="${#fields.hasErrors('manufacturer')} ? 'fieldError'" type="text"
                 placeholder="Manufacturer">
          <label th:if="${#fields.errors('manufacturer')}" th:errors="*{manufacturer}">input is
            incorrect</label>
        </div>
        <div>
          <label th:class="${#fields.hasErrors('code')} ? 'fieldError'">상품코드 : </label>
          <input name="code" th:field="*{code}" type="text"
                 th:class="${#fields.hasErrors('code')} ? 'fieldError'" placeholder="Product Code">
          <label th:if="${#fields.errors('code')}" th:errors="*{code}">input is incorrect</label>
        </div>
        <div>
          <label th:class="${#fields.hasErrors('originalPrice')} ? 'fieldError'">원가 : </label>
          <input name="originalPrice" th:field="*{originalPrice}"
                 th:class="${#fields.hasErrors('originalPrice')} ? 'fieldError'" type="text"
                 placeholder="Original Price">
          <label th:if="${#fields.errors('originalPrice')}" th:errors="*{originalPrice}">input is
            incorrect</label>
        </div>
        <div>
          <label th:class="${#fields.hasErrors('sellingPrice')} ? 'fieldError'">판매가 : </label>
          <input name="sellingPrice" th:field="*{sellingPrice}"
                 th:class="${#fields.hasErrors('sellingPrice')} ? 'fieldError'" type="text"
                 placeholder="Selling Price">
          <label th:if="${#fields.errors('sellingPrice')}" th:errors="*{sellingPrice}">input is
            incorrect</label>
        </div>
        <div>
          <label th:class="${#fields.hasErrors('manufacturingPrice')} ? 'fieldError'">제조가 : </label>
          <input name="manufacturingPrice" th:field="*{manufacturingPrice}"
                 th:class="${#fields.hasErrors('manufacturingPrice')} ? 'fieldError'" type="text"
                 placeholder="Manufacturing Price">
          <label th:if="${#fields.errors('manufacturingPrice')}" th:errors="*{manufacturingPrice}">input
            is incorrect</label>
        </div>
        <div>
          <label th:class="${#fields.hasErrors('shippingPrice')} ? 'fieldError'">배송비 : </label>
          <input name="shippingPrice" th:field="*{shippingPrice}"
                 th:class="${#fields.hasErrors('shippingPrice')} ? 'fieldError'" type="text"
                 placeholder="Shipping Fee">
          <label th:if="${#fields.errors('shippingPrice')}" th:errors="*{shippingPrice}">input is
            incorrect</label>
        </div>
        <div>
          <label th:class="${#fields.hasErrors('productDetail.description')} ? 'fieldError'">상품 설명
            : </label>
          <input name="productDetail.description" th:field="*{productDetail.description}"
                 th:class="${#fields.hasErrors('productDetail.description')} ? 'fieldError'"
                 type="text" placeholder="Product Description">
          <label th:if="${#fields.errors('productDetail.description')}"
                 th:errors="*{productDetail.description}">input is incorrect</label>
        </div>

        <div>
          <label>제조일 : </label>
          <input name="date1" type="datetime-local" placeholder="Manufacture Date">
          <!--<input name="date1" type="datetime-local" id="datepicker">-->
        </div>
        <div>
          <label>등록일 : 서비스에서 넣어주면 될듯!? </label>
        </div>
        <div>
          <label>출시일 : </label> <!-- datetime-local -->
          <input name="date2" type="datetime-local" placeholder="Release Date">
          <!--<input name="releaseDate" type="text" id="datepicker2" placeholder="Release Date">-->
        </div>

        <div>
          <label>적립금 : </label>
          <input name="mileage" type="text" placeholder="Mileage">
        </div>
        <div>
          <label>재고??? : </label>quantity
          <input name="quantity" type="text" placeholder="Quantity">
        </div>
        <div>
          <label>안전재고?? : </label>
          <input name="safeQuantity" type="text" placeholder="Safe Quantity">
        </div>
        <div>
          <label>화면에 바로 보여줄거에요? </label>
          <!-- 체크박스 -->
          <input name="display" type="checkbox">
        </div>
        <div>
          <input type="submit" text="상품등록">
        </div>

      </div>


    </form>
  </div>

</div>
</html>