<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/admin-default}">
      <!-- 위의 layout:decorate 경로에 있는 layout 파일을 기반으로 layout이 그려진다 -->

  <head layout:fragment="head">
    <title id="pageTitle">관리자 &mdash; 상품 등록</title>

    <!-- 사용자 CSS 추가 -->
    <th:block layout:fragment="css">

    </th:block>

    <!-- 사용자 스크립트 추가 -->
    <th:block layout:fragment="script">
      <script th:src="@{/static/js/product-add.js}"></script>
    </th:block>
  </head>

  <!-- 위에서 적은 layout 파일에서
      layout:fragment="content" 라고 되어 있는 tag 내부에 아래 div의 내부가 들어간다. -->
  <div layout:fragment="content">
    <h1>Product Add</h1>

    <!--------------------------
            | Product Registration |
            -------------------------->
    <!--  block은 CSS로 크기조절이 가능하고 inline은 안 된다. -->
    <!--  div 는 기본이 block! -->

    <div style="display:block; ">
      <!-- Start(카테코리 출력 부분) (3개의 div) -->
      <div style='display:inline-block;min-width:900px;position:relative;left:50px;border:1px solid gold;'>
        <div id="firstCategory" style='display:inline;float:left;width:200px;'>
          <ul id="firstCategoryUl">
          </ul>
        </div>

        <div id="secondCategory" style='display:inline;float:left;width:200px;'>
          <ul id="secondCategoryUl">

          </ul>
        </div>

        <div id="thirdCategory" style='display:inline;float:left;width:200px;'>
          <ul id="thirdCategoryUl">
          </ul>
        </div>
      </div>
      <!-- End(카테고리)-->

      <!-- th:field="*{product.productOptions.description}" 이런식으로 해도 된다는데... 실패했었음.-->
      <form onsubmit="return validate()" action="#" th:action="@{/admin/product/add}" method="post"
            enctype="multipart/form-data" th:object="${product}">

        <!-- Start(현재 선택한 카테고리가 무엇인지 보여주는 부분) -->
        <div style="display:inline-block;position:relative;left:50px;" id="currentCategory">
          <label>선택한 카테고리 : </label>
          <span id="categoryName"></span>
          <span name="productCategoryId" id="categoryId"></span>
          <input id="categoryId2" type="hidden" name="productCategoryId" value="">
        </div>
        <!-- End (현재 선택한 카테고리 보여주는 부분)-->

        <!-- Start (상품 기본정보 등록) -->
        <div style="display: block; position:relative;left:50px;">
          <div>
            <label th:class="${#fields.hasErrors('name')} ? 'fieldError'">상품명 : </label>
            <input name="name" th:field="*{name}" id="inputName"
                   th:class="${#fields.hasErrors('name')} ? 'fieldError'" type="text"
                   placeholder="Product Name">
            <label th:if="${#fields.errors('name')}" th:errors="*{name}">input is incorrect</label>
          </div>

          <!-- Editor -->
          <input type="hidden" id="hiddenProductDetailId" name="productDetailId">
          <div id="editSection">
            상품 설명 :
          </div>

          <br><br>
          <div>
            <label th:class="${#fields.hasErrors('manufacturer')} ? 'fieldError'">제조사 : </label>
            <input name="manufacturer" th:field="*{manufacturer}" id="inputManufacturer"
                   th:class="${#fields.hasErrors('manufacturer')} ? 'fieldError'" type="text"
                   placeholder="Manufacturer">
            <label th:if="${#fields.errors('manufacturer')}" th:errors="*{manufacturer}">input is
              incorrect</label>
          </div>
          <div>
            <label th:class="${#fields.hasErrors('code')} ? 'fieldError'">상품코드 : </label>
            <input name="code" th:field="*{code}" type="text" id="inputCode"
                   th:class="${#fields.hasErrors('code')} ? 'fieldError'" placeholder="Product Code">
            <label th:if="${#fields.errors('code')}" th:errors="*{code}">input is incorrect</label>
          </div>
          <div>
            <label th:class="${#fields.hasErrors('originalPrice')} ? 'fieldError'">원가 : </label>
            <input name="originalPrice" th:field="*{originalPrice}" id="inputOriginalPrice"
                   th:class="${#fields.hasErrors('originalPrice')} ? 'fieldError'" type="text"
                   placeholder="Original Price">
            <label th:if="${#fields.errors('originalPrice')}" th:errors="*{originalPrice}">input is
              incorrect</label>
          </div>
          <div>
            <label th:class="${#fields.hasErrors('sellingPrice')} ? 'fieldError'">판매가 : </label>
            <input name="sellingPrice" th:field="*{sellingPrice}" id="inputSellingPrice"
                   th:class="${#fields.hasErrors('sellingPrice')} ? 'fieldError'" type="text"
                   placeholder="Selling Price">
            <label th:if="${#fields.errors('sellingPrice')}" th:errors="*{sellingPrice}">input is
              incorrect</label>
          </div>
          <div>
            <label th:class="${#fields.hasErrors('manufacturingPrice')} ? 'fieldError'">제조가 : </label>
            <input name="manufacturingPrice" th:field="*{manufacturingPrice}"
                   id="inputManufacturingPrice"
                   th:class="${#fields.hasErrors('manufacturingPrice')} ? 'fieldError'" type="text"
                   placeholder="Manufacturing Price">
            <label th:if="${#fields.errors('manufacturingPrice')}" th:errors="*{manufacturingPrice}">input
              is incorrect</label>
          </div>
          <div>
            <label th:class="${#fields.hasErrors('shippingPrice')} ? 'fieldError'">배송비 : </label>
            <input name="shippingPrice" th:field="*{shippingPrice}" id="inputShippingPrice"
                   th:class="${#fields.hasErrors('shippingPrice')} ? 'fieldError'" type="text"
                   placeholder="Shipping Fee">
            <label th:if="${#fields.errors('shippingPrice')}" th:errors="*{shippingPrice}">input is
              incorrect</label>
          </div>

          <div>
            <label>제조일 : </label>
            <input name="manufactureDate" type="datetime-local" placeholder="Manufacture Date"
                   id="inputDate1" th:field="*{manufactureDate}"
                   th:class="${#fields.hasErrors('manufactureDate')} ? 'fieldError'">
            <!--<input name="date1" type="datetime-local" id="datepicker">-->
            <label th:if="${#fields.errors('manufactureDate')}"
                   th:errors="*{manufactureDate}">input is incorrect</label>
          </div>
          <div>
            <label>출시일 : </label> <!-- datetime-local -->
            <input name="releaseDate" type="datetime-local" placeholder="Release Date"
                   id="inputDate2" th:field="*{releaseDate}"
                   th:class="${#fields.hasErrors('releaseDate')} ? 'fieldError'">
            <!--<input name="releaseDate" type="text" id="datepicker2" placeholder="Release Date">-->
            <label th:if="${#fields.errors('releaseDate')}"
                   th:errors="*{releaseDate}">input is incorrect</label>
          </div>

          <div>
            <label>적립금 : </label>
            <input name="mileage" type="text" placeholder="Mileage" id="inputMileage">
          </div>
          <div>
            <label th:class="${#fields.hasErrors('quantity')} ? 'fieldError'">재고??? : </label>quantity
            <input name="quantity" type="text" placeholder="Quantity" id="inputQuantity"
                   th:field="*{quantity}" th:class="${#fields.hasErrors('quantity')} ? 'fieldError'">
            <label th:if="${#fields.errors('quantity')}" th:errors="*{quantity}">input is
              incorrect</label>
          </div>
          <div>
            <label>안전재고?? : </label>
            <input name="safeQuantity" placeholder="Safe Quantity" id="inputSafeQuantity">
          </div>
          <div>
            <label>화면에 바로 보여줄거에요? </label>
            <input name="display" type="checkbox" id="checkDisplay">
          </div>
          <div>
            <label>메인 이미지 등록</label><br>
            <input name="mainImage" type="file" id="inputMainImage">
          </div>
          <div>
            <label>서브 이미지 등록</label>
            <input name="subImages" type="file">
            <input name="subImages" type="file">
            <input name="subImages" type="file">
            <input name="subImages" type="file">
          </div>
          <div>
            <input type="button" id="saveBtn" value="상품등록">
          </div>
          <div>
            <input hidden type="submit" id="submitBtn">
          </div>

        </div>
      </form>

      <!-- Editor JS -->
      <th:block layout:fragment="html_head">
        <script src="/static/editor/jquery/dist/jquery.js"></script>
        <script src="/static/editor/tui-code-snippet/dist/tui-code-snippet.js"></script>
        <script src="/static/editor/markdown-it/dist/markdown-it.js"></script>
        <script src="/static/editor/to-mark/dist/to-mark.js"></script>
        <script src="/static/editor/codemirror/lib/codemirror.js"></script>
        <script src="/static/editor/highlightjs/highlight.pack.js"></script>
        <script src="/static/editor/squire-rte/build/squire-raw.js"></script>
        <script src="/static/editor/tui-editor/dist/tui-editor-Editor-all.js"></script>
        <link rel="stylesheet" href="/static/editor/codemirror/lib/codemirror.css">
        <link rel="stylesheet" href="/static/editor/highlightjs/styles/github.css">
        <link rel="stylesheet" href="/static/editor/tui-editor/dist/tui-editor.css">
        <link rel="stylesheet" href="/static/editor/tui-editor/dist/tui-editor-contents.css">

        <title>상품 등록 폼</title>

        <style type="text/css">
          .te-md-container .CodeMirror {
            font-size: 14px;
          }

          .tui-editor-contents {
            font-size: 14px;
          }
        </style>

        <script>
          (function (root, factory) {
            if (typeof define === 'function' && define.amd) {
              define(['tui-editor'], factory);
            } else if (typeof exports === 'object') {
              factory(require('tui-editor'));
            } else {
              factory(root['tui']['Editor']);
            }
          })(this, function (Editor) {
            // define youtube extension
            Editor.defineExtension('youtube', function () {
              // runs while markdown-it transforms code block to HTML
              Editor.codeBlockManager.setReplacer('youtube', function (youtubeId) {
                console.log('sadfasdfasfd' + youtubeId);
                // Indentify multiple code blocks
                var wrapperId = 'yt' + Math.random().toString(36).substr(2, 10);
                // avoid sanitizing iframe tag
                setTimeout(renderYoutube.bind(null, wrapperId, youtubeId), 0);
                return '<div id="' + wrapperId + '"></div>';
              });
            });

            function renderYoutube(wrapperId, youtubeId) {
              var el = document.querySelector('#' + wrapperId);
              el.innerHTML = '<iframe width="820" height="630" src="https://www.youtube.com/embed/'
                  + youtubeId
                  + '"  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>';
            }
          });

          $(document).ready(function () {
            $('#editSection').tuiEditor({
              initialEditType: 'markdown',
              previewStyle: 'vertical',
              height: 500,
              exts: ['youtube'],
              // codeBlockLanguages: ['java', 'PHP', 'javascript'],
              hooks: {
                'addImageBlobHook': function (blob, saveImage) {
                  console.log(blob);
                  // console.log(blob.name);
                  //이미지 블롭을 이용해 서버 연동 후 콜백실행
                  //callback('이미지URL');
                  var fd = new FormData();
                  // fd.append('fname', blob.name);
                  fd.append('descriptionImage', blob);
                  $.ajax({
                    type: 'POST',
                    url: '/admin/product/image-files/api',
                    headers: {
                      'X-CSRF-Token': $('input[name="_csrf"]').val()
                    },
                    data: fd,
                    processData: false,
                    contentType: false
                  }).done(function (data) {
                    saveImage(data); // 저장된 실제 URL 을 넘긴다.
                  });
                }
              }
            });

            // $('#resetBtn').click(function () {
            //     // $("#inputTitle").val('');
            //     $("#editSection").tuiEditor("setValue", "");
            //     $("#editSection").focus();
            //     // $("#inputTitle").focus();
            // });

            // $('#inputTitle').keydown(function(e) {
            //     var code = e.keyCode || e.which;
            //
            //     if (code === 9) {
            //         e.preventDefault();
            //         $("#editSection").tuiEditor("focus");
            //     }
            // });

            $('#saveBtn').click(function (event) {
              event.stopPropagation();
              // if($("#inputTitle").val().trim() == ''){
              //     alert('제목을 입력하세요.');
              //     return;
              // }
              if ($("#editSection").tuiEditor("getValue").trim() == '') {
                alert('내용을 입력하세요.');
                return;
              }
              write($("#editSection").tuiEditor("getValue"));
            });

            function write(content) {
              let JSONObject = {
                // "title" : title,

                "productDetail": content,

              };
              let jsonData = JSON.stringify(JSONObject);
              $.ajax({
                // url : '/api/boards/${categoryId}/write',
                url: '/admin/product/add/api',
                headers: {
                  'X-CSRF-Token': $('input[name="_csrf"]').val()
                },
                method: 'post',
                data: jsonData,
                dataType: "text",
                contentType: "application/json",
                success: function (data) {
                  // alert('등록되었습니다. OK');
                  // console.log(data);
                  // // $(location).attr('href','/boards/${categoryId}/list');
                  // $(location).attr('href','/admin/product/');
                  console.log("여기로 왔지?");
                  console.log("받아온 값은?? : " + data);
                  $("#hiddenProductDetailId").val(data);
                  console.log($("#hiddenProductDetailId").val());
                  $("#submitBtn").trigger('click');
                },
                error: function (err) {
                  console.log(err);
                }
              });
            }
          });
        </script>
      </th:block>
    </div>
  </div>
</html>