<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/admin-default}">

<head th:include="fragments/config :: configFragment">
  <title id="pageTitle">Product Detail</title>
  <!-- other elements you want to reference in your layout -->
</head>


<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>


<div layout:fragment="content">
  <!-- 사용자 스크립트 추가 -->
  <th:block layout:fragment="script">
    <script th:src="@{/static/js/popup.js}"></script>
  </th:block>
  <br>
  <br>
  <br>
  <h3> Product Detail </h3>

  <!--------------------------
          | Product Detail  |
          -------------------------->
  <!--  block은 CSS로 크기조절이 가능하고 inline은 안 된다. -->
  <!--  div 는 기본이 block! -->


  <table style="margin-left: 50px;" border="1">

    <tr>
      <td rowspan="3" colspan="2"><img onclick="doImgPop('/img/macbook.jpeg')"
                                       th:src="@{/img/macbook.jpeg}"/></td>
      <td colspan="2">상품이름</td>
      <td colspan="2"><label th:text="${product.name}"></label></td>
    </tr>
    <tr>
      <td colspan="2">상품코드</td>
      <td colspan="2"><label th:text="${product.code}">상품코드</label></td>
    </tr>
    <tr>
      <td colspan="2">상품요약설명</td>
      <td colspan="2">상품요약설명이 있으면 어떨까?</td>
    </tr>
    <tr>
      <td>상품원가</td>
      <td><label th:text="${product.originalPrice}">상품원가</label></td>
      <td>배송비</td>
      <td><label th:text="${product.shippingPrice}">배송비</label></td>
      <td>카테고리이름</td>
      <td><label th:text="${product.productCategory.name}">카테고리</label></td>
    </tr>
    <tr>
      <td>판매가</td>
      <td><label th:text="${product.sellingPrice}"></label></td>
      <td>적립금</td>
      <td><label th:text="${product.mileage}"></label></td>
      <td>등록일</td>
      <td><label th:text="${#temporals.format(product.regDate , 'yyyy-MM-dd HH:mm:ss')}"></label>
      </td>
    </tr>
    <tr>
      <td>제조가</td>
      <td><label th:text="${product.manufacturingPrice}"></label></td>
      <td>제조사</td>
      <td><label th:text="${product.manufacturer}"></label></td>
      <td>제조일</td>
      <td><label
          th:text="${#temporals.format(product.manufactureDate , 'yyyy-MM-dd HH:mm:ss')}"></label>
      </td>
    </tr>
    <tr>
      <td>출시일</td>
      <td><label
          th:text="${#temporals.format(product.releaseDate , 'yyyy-MM-dd HH:mm:ss')}"></label></td>
    </tr>
    <tr>
      <td colspan="6">상품설명</td>
    </tr>
    <tr>
      <td colspan="6"><label th:text="${product.productDetail.description}">상품설명</label></td>
    </tr>
  </table>


  <h3> Product Images </h3>


  <h3> Option List </h3>

  <div style="margin-left: 50px;" id="optionList">

    <div style="width: fit-content;" class="tbl-container">

      <table id="product-option-list-tbl">
        <colgroup>
          <col class="chk"/>
          <col style="width:50px;"/>
          <col style="width:190px;"/>
          <col style="width:auto;"/>
          <col style="width:auto;"/>
          <col style="width:auto;"/>
        </colgroup>
        <thead>
        <tr>
          <th><input type="checkbox" id="checkbox-all" onclick="toggle(this);"/></th>
          <th>No</th>
          <th>옵션명<!--<button type="button">오름차순 정렬</button>--></th>
          <th>옵션값</th>
          <th>옵션설명</th>
          <th>상품코드</th>
          <th>상품명</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="productOption : ${productOptions != null ? productOptions : productOptions}"
            class="productOptionTr">
          <td><input type="checkbox" name="productOptionId" th:value="${productOption.id}"/></td>
          <td th:text="${productOption.id}">###</td>
          <td th:text="${productOption.name}">###</td>
          <td th:text="${productOption.price}">###</td>
          <td th:text="${productOption.description}">###</td>
          <td th:text="${productOption.product.code}">###</td>
          <td th:text="${productOption.product.name}">###</td>
        </tr>
        </tbody>
      </table>

      <!-- Page 번호 -->
      <div id="page-numbers">
        <th:block th:each="item : ${#numbers.sequence(1, pageCount)}">
          <a th:href="@{'/admin/product/'+ ${productId} + '?optionPage=' + ${item}}">
            <span th:text="${item}"></span>
          </a>
        </th:block>
      </div>
    </div>
  </div>

</div>
</html>