<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>이미지 업로드</title>
</head>
<body>
<h1>이미지 업로드</h1>

<form method="post" id="insertBoardFrm" action="/admin/product/image" enctype="multipart/form-data">
  <h4>메인 이미지 업로드</h4>
  <input type="file" name="mainImages" placeholder="파일 선택" multiple><br>
  <h4>설명 이미지 업로드</h4>
  <input type="file" name="descriptionImages" placeholder="파일 선택" multiple><br><br>

  <h4>Naver Smart Editor 연동 테스트</h4>
  <textarea name="editor" id="editor" style="width: 700px; height: 400px;"></textarea>
  <input type="button" id="insertBoard" value="등록" /><br><br>

  <!-- TODO 버튼은 위와 아래 둘 중 하나만 남겨놔야 함!! ** 잊지 말자 ** -->
  <input type="submit">
</form>

<script src="/editor/js/HuskyEZCreator.js" type="text/javascript"></script>
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">
    $(function(){
        //전역변수
        var obj = [];
        //스마트에디터 프레임생성
        nhn.husky.EZCreator.createInIFrame({
            oAppRef: obj,
            elPlaceHolder: "editor",
            sSkinURI: "editor/SmartEditor2Skin.html",
            htParams : {
                // 툴바 사용 여부
                bUseToolbar : true,
                // 입력창 크기 조절바 사용 여부
                bUseVerticalResizer : true,
                // 모드 탭(Editor | HTML | TEXT) 사용 여부
                bUseModeChanger : true,
            }
        });
        //전송버튼
        $("#insertBoard").click(function(){
            //id가 smarteditor인 textarea에 에디터에서 대입
            obj.getById["editor"].exec("UPDATE_CONTENTS_FIELD", []);
            //폼 submit
            $("#insertBoardFrm").submit();
        });
    });
</script>

</body>
</html>