<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin-default}">

<head th:include="fragments/config :: configFragment">
  <title id="pageTitle">Page title</title>
  <!-- other elements you want to reference in your layout -->
</head>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<!-- product left-navbar 추가 -->
<div layout:fragment="leftNavbarFragment">
  <aside th:replace="fragments/left-navbar :: leftNavbarFragment">

  </aside>
</div>

<div layout:fragment="content">
  <h1>상품 관리페이지입니다.</h1>
  <p><a href="/admin/product/option">상품 옵션관리 페이지 입니다.</a></p>
  <p><a href="/admin/product/search">상품 검색 페이지 입니다.</a></p>
  <p><a href="/admin/product/add">상품 등록 페이지 입니다.</a></p>
</div>

</html>