<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin-default}">

<head th:include="fragments/config :: configFragment">
  <title id="pageTitle">Page title</title>
  <!-- other elements you want to reference in your layout -->
</head>

<div layout:fragment="content">
  <form name="option_value_form" action="/admin/product/option/add" method="post">
    <table>
      <tbody>
      <tr>
        <td>
          <p>옵션명과 옵션값에는 , (콤마), ; (세미콜론), " (쌍따옴표), \ (역슬래시), #$% (특수문자)는 등록할 수 없습니다.</p>
          <div>
            <div>
              <select name="productId" class="productId">
                <option value="--ALL--">상품선택</option>
                <option th:each="product : ${products}" th:value="${product.id}"
                        th:text="${product.name}"></option>
              </select>
            </div>

          </div>
          <div>
            <table border="1" id="optionValueTable">
              <thead>
              <tr>
                <th><input type="button" value="추가" id="createRow"></th>
                <th>옵션명 및 가격 설정</th>
              </tr>
              </thead>

              <tbody id="option_value_rows">
              <!---------- 추가 버튼 클릭 시 추가할 row ---------->
              <tr id="optionCheckTr">
                <td>
                  <input type="button" value="삭제" class="delete" onclick="deleteRow(this);">
                  <!--<input type="checkbox" class="optionCheckFrame">-->
                </td>

                <td width="500">
                  <div>옵션명 :
                    <input type="text" name="productOptions[0].name" placeholder="예시) 옵션명을 입력하시오"
                           maxlength="50"
                           size="70">
                  </div>
                  <div>추가금액 :
                    <input type="text" name="productOptions[0].price" size="70">
                  </div>
                  <div>옵션설명 :
                    <input type="text" name="productOptions[0].description" size="70"
                           style="height:30px;">
                  </div>
                </td>
              </tr>
              <!---------- 추가 버튼 클릭 시 추가할 row ---------->
              </tbody>
            </table>
          </div>
        </td>
      </tr>

      </tbody>
    </table>
    <input type="submit" value="submit">

  </form>

  <script th:src="@{/js/product-option.js}"></script>
</div>
</html>