<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/main.css}" />
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Noto+Sans+KR:300,700" rel="stylesheet">
    <title>ADMIN &mdash; HolidaySomething</title>
</head>
<body>
    <div id="header" class="sticky">
        <!--<a href="#"><div class="header-menu">상점관리</div></a>-->
        <img src="/img/logo.png"/>
        <a href="#"><div class="header-menu">상품관리</div></a>
        <a href="#"><div class="header-menu">주문관리</div></a>
        <a href="#"><div class="header-menu">고객관리</div></a>
        <a href="#"><div class="header-menu">게시판관리</div></a>
        <a href="#"><div class="header-menu">프로모션</div></a>
    </div>

    <div id="container">
        <div class="left-navbar">
            <div class="navbar-menu">
                <a href="#">상품분류관리</a>
            </div>
            <div class="navbar-menu">
                <a href="#">상품옵션관리</a>
            </div>
            <div class="navbar-menu">
                <a href="#">상품등록</a>
            </div>
            <div class="navbar-menu">
                <a href="#">상품관리</a>
            </div>
            <div class="navbar-menu">
                <a href="#">상품표시관리</a>
            </div>
            <div class="navbar-menu">
                <a href="#">판매분류관리</a>
            </div>
            <div class="navbar-menu">
                <a href="#">재고관리</a>
            </div>
            <div class="navbar-menu">
                <a href="#">즐겨찾는 메뉴</a>
            </div>
        </div>

        <div id="dashboard">
            <h1>옵션 검색</h1>
            <h2>옵션 목록 <span>[총 <strong th:text="${productOptionListSize}"></strong>개]</span></h2>
            <!--<p>[총 <strong th:text="${productOptionListSize}"></strong>개]</p>-->

            <form method="get" action="/admin/product/get/name" id="product-option-search-form">
                <!-- product_option 내 필드 선택 -->
                <label>
                    <select name="productOptionSearchField" required>
                        <option disabled>옵션을 선택하세요</option>
                        <option value="name">옵션명</option>
                        <option value="description">옵션설명</option>
                        <option value="price">옵션가격</option>
                    </select>
                </label>

                <!-- 옵션 검색어 -->
                <label>
                    <input type="text" name="productOptionSearchValue" style="width:300px;" required>
                </label>

                <input type="submit" value="검색">
            </form>

            <form method="post" action="/admin/product/product_detail/bundle">
                <select onchange="this.form.submit()" name="productOptionBundleSize">
                    <option disabled selected>개수 선택</option>
                    <option value="10">10개씩 보기</option>
                    <option value="20">20개씩 보기</option>
                    <option value="30">30개씩 보기</option>
                    <option value="50">50개씩 보기</option>
                    <option value="100">100개씩 보기</option>
                </select>
            </form>
            <!--<a href="#"><span>옵션등록</span></a>-->

            <div>
                <form method="POST" action="/admin/product/delete/product_option" id="productOptionForm" onsubmit="return validateProductOptionForm(this);">
                    <table id="product-option-list-tbl">
                        <colgroup>
                            <col class="chk" />
                            <col style="width:50px;" />
                            <col style="width:190px;" />
                            <col style="width:auto;" />
                            <col style="width:auto;" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="checkbox-all" onclick="toggle(this);" /></th>
                                <th>No</th>
                                <th>옵션명<!--<button type="button">오름차순 정렬</button>--></th>
                                <th>옵션값</th>
                                <th>옵션설명</th>
                                <th>상품코드</th>
                                <th>상품명</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="productOption : ${productOptions != null ? productOptions : productOptionsSearchResult}" class="productOptionTr">
                                <td><input type="checkbox" name="productOptionId" th:value="${productOption.id}"/></td>
                                <td th:text="${productOption.id}">###</td>
                                <td th:text="${productOption.name}">###</td>
                                <td th:text="${productOption.price}">###</td>
                                <td th:text="${productOption.description}">###</td>
                                <td th:text="${productOption.product.code}">###</td>
                                <td th:text="${productOption.product.name}">###</td>
                            </tr>
                        </tbody>
                    </table>

                    <button type="submit" id="productOptionFormSubmit">삭제</button>
                </form>

                <!-- Page 번호 -->
                <div id="page-numbers">
                    <!--<p id="page-numbers">-->
                        <th:block th:each="item : ${#numbers.sequence(1, pageCount)}">
                            <a th:href="@{'/admin/product/product_detail/' + ${item}}">
                                <span th:text="${item}"></span>
                            </a>
                        </th:block>
                    <!--</p>-->
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/main.js}"></script>
</body>
</html>