<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xml:th="http:/www.thymeleaf.org"
      layout:decorator="layout/default">
<div layout:fragment="content">
  <h1>상품검색하는페이지</h1>
  <div>
    <table border="1" summary="">
      <caption>상품검색</caption>
      <tbody>
      <tr>
        <th scope="row">검색분류</th>
        <td>
          <select>
            <option value="product_name">상품명</option>
            <option value="product_code">제품코드(관리자)</option>
          </select>
          <span>
                    <form method="post" action="/admin/product/product_search/result">
                        <input type="text" name="productName">
                        <input type="submit">
                    </form>
                </span>

        </td>
      </tr>
      <tr>
        <th scope="row">상품분류</th>
      </tr>
      <tr>
        <th scope="row">상품등록일</th>
        <td>
          <form method="post" action="/admin/product/product_search/result">
            <!--<select id="product-select-by-date" name="productDate">
              <option value="regdate11">상품등록일</option>
              <option value="showdate">상품게시일</option>

            </select>-->
            <input name="regdateStart" type="datetime-local" placeholder="Start Registration Date">시작일
            <input name="regdateEnd" type="datetime-local" placeholder="Ended Registration Date">종료일
            <input type="submit">
          </form>
        </td>
      </tr>
      </tbody>
    </table>


  </div>
  <div>
    <input type="submit">
  </div>
  <!--제품검색결과페이지 추가-->
</div>

</html>