<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xml:th="http:/www.thymeleaf.org"
      layout:decorate="~{layout/default.html}">

<head th:include="fragments/config :: configFragment">
  <title id="pageTitle">Page title</title>
  <!-- other elements you want to reference in your layout -->
</head>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>


<div layout:fragment="content">
  <form name="option_value_form" action="/admin/product/product_detail_add_option" method="post">
    <div id="dashboard">
      <table>
        <tbody>
        <tr>
          <td>
            <p>옵션명과 옵션값에는 , (콤마), ; (세미콜론), " (쌍따옴표), \ (역슬래시), #$% (특수문자)는 등록할 수 없습니다.</p>
            <div>
              <div>
                선택한 항목을 <span id="deleteRow">삭제</span>
              </div>
              <div>
                <select name="productId" class="productId">
                  <option value="--ALL--">상품선택</option>
                  <option th:each="product : ${products}" th:value="${product.id}"
                          th:text="${product.name}"></option>
                </select>
              </div>
              <div>
                <span id="createRow">추가</span>
              </div>
            </div>
            <div>
              <table border="1" id="optionValueTable">
                <thead>
                <tr>
                  <th><input type="checkbox" id="selectAllCheckbox" onclick="toggle(this);"></th>
                  <th>옵션 명 및 가격 설정</th>
                </tr>
                </thead>

                <tbody id="option_value_rows">
                <!---------- 추가 버튼 클릭 시 추가할 row ---------->
                <tr id="optionCheckTr">
                  <td>
                    <span class="delete">삭제</span>
                    <input type="checkbox" class="optionCheckFrame">
                  </td>

                  <td width="500">
                    <div>옵션명 :
                      <input type="text" name="productOptions[0].name" placeholder="예시) 옵션명을 입력하시오"
                             maxlength="50"
                             size="70">
                    </div>
                    <div>추가금액 :
                      <input type="text" name="productOptions[0].price" size="70">
                    </div>
                    <div>옵션설명 :
                      <input type="text" name="productOptions[0].description" size="70"
                             style="height:30px;">
                    </div>
                  </td>
                </tr>
                <!---------- 추가 버튼 클릭 시 추가할 row ---------->
                </tbody>
              </table>
            </div>
          </td>
        </tr>

        </tbody>
      </table>
      <input type="submit" value="submit">
    </div>
  </form>
  <!-- 사용자 스크립트 추가 -->
  <th:block layout:fragment="script">
    <script th:src="@{/js/productOption.js}"></script>
  </th:block>
</div>


</html>