<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http:/www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <title>Title</title>
</head>
<body>


<h1>Product Register</h1>

<script type="text/javascript">
    function getCategoryList(parentId) {
        var html = '';
        var method = "onclick='getCategoryBrandList(";

        $.getJSON("/admin/product/product_detail/register/lowcategories/"+parentId, function(list) {
            $(list).each(
                function() {
                    html += "<li><span data-categoryid="+this.id+ " class='span' "+ method + this.id + ")')>" + this.name + "</span></li> ";
                }
            );
            $("#secondCategoryUl").html('');
            $("#thirdCategoryUl").html('');
            $("#secondCategoryUl").html(html);

        });
    }

    function getCategoryBrandList(parentId) {
        var html = '';
        var method = "onclick='getCategoryList(";

        $.getJSON("/admin/product/product_detail/register/lowcategories/"+parentId, function(list) {
            // $("#currentCategory").html("<label>"+ this.id + "</label>");
            $(list).each(
                function() {
                    html += "<li><span data-categoryid=" + this.id + " class='span'> " + this.name + "</span></li> ";
                }
            );
            $("#thirdCategoryUl").html('');
            $("#thirdCategoryUl").html(html);
        });
    }
</script>

<!--------------------------
        | Product Registration |
        -------------------------->
<!--  block은 CSS로 크기조절이 가능하고 inline은 안 된다. -->
<!--  div 는 기본이 block! -->

<div style="display:block; ">
    <!-- Start(카테코리 출력 부분) (3개의 div) -->
    <div style='display:inline-block;min-width:900px;position:relative;left:130px;border:1px solid gold;'>

        <div id="firstCategory" style='display:inline;float:left;width:200px;'>
            <ul>
                <li th:each="category : ${categories}" th:if="${category.parentId == 0 }">
                    <span th:attr="data-categoryid=${category.id}" class="span" th:onclick="'getCategoryList(' + ${category.id} + ')'" th:text="${category.name}"></span>
                </li>
            </ul>
        </div>

        <div id="secondCategory" style='display:inline;float:left;width:200px;'>
            <ul id="secondCategoryUl">

            </ul>

        </div>

        <div id="thirdCategory" style='display:inline;float:left;width:200px;'>
            <ul id="thirdCategoryUl">

            </ul>

        </div>

    </div>
    <!-- End(카테고리)-->

    <!-- Start(현재 선택한 카테고리가 무엇인지 보여주는 부분) -->
    <div style="display:inline-block;position:relative;left:130px;" id="currentCategory">
        <label>선택한 카테고리 : </label>
        <span id="categoryName"></span>
        <span id="categoryId"></span>
    </div>
    <!-- End (현재 선택한 카테고리 보여주는 부분)-->

    <!-- Start (상품 기본정보 등록) -->
    <div >
        <div>
            <label>상품명 : </label>
            <input type="text" placeholder="Product Name">
        </div>
        <div>
            <label>제조사 : </label>
            <input type="text" placeholder="Manufacturer">
        </div>
        <div>
            <label>상품코드 : </label>
            <input type="text" placeholder="Product Code">
        </div>
        <div>
            <label>원가 : </label>
            <input type="text" placeholder="Original Price">
        </div>
        <div>
            <label>판매가 : </label>
            <input type="text" placeholder="Selling Price">
        </div>
        <div>
            <label>제조가 : </label>
            <input type="text" placeholder="Manufacturing Price">
        </div>
        <div>
            <label>배송비 : </label>
            <input type="text" placeholder="Shipping Fee">
        </div>
        <div>
            <label>상품 설명 : </label>
            <input type="text" placeholder="Product Description">
        </div>

    </div>



</div>








<script type="text/javascript">
    $(document).ready(function() {
        $(document).on('click','.span', function() {
            var name = $(this).text();
            var id = $(this).attr("data-categoryid");
            console.log(name);
            console.log(id);
            $("#categoryName").text(name);
            $("#categoryId").text(id);
        });
    });

</script>




</body>
</html>