<!DOCTYPE html>
<html xml:th="http:/www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
    <title>Title</title>
</head>
<body>


<div>
    <form name="option_value_form" action="/admin/product/product_detail_add_option" method="post">
        <table>
            <tbody>
            <tr>
            <td>
                <div>
                    <div>
                        <p>옵션명과 옵션값에는 , (콤마), ; (세미콜론), " (쌍따옴표), \ (역슬래시), #$% (특수문자)는 등록할 수 없습니다.</p>
                    </div>
                </div>
                <div>
                    <div>
                        <span>선택한 항목을</span> <a href="#" id="eOptionDelete"><span>삭제</span></a>
                    </div>
                    <div>
                        <span id="createRow">추가</span>
                    </div>
                </div>
                <div>
                    <table border="1" id="optionValueTable">
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="selectAllCheckbox" onclick="toggle(this);"></th>
                            <th>적용할 상품 선택</th>
                            <th>옵션 명 및 가격 설정</th>
                        </tr>
                        </thead>

                        <tbody id="option_value_rows">
                        <!---------- 추가 버튼 클릭 시 추가할 row ---------->
                        <tr id="optionCheckTr">
                            <td>
                                <input type="checkbox" class="rowChk option_check">
                            </td>

                            <td width="500">
                                <select name="productId" class="productId">
                                    <option value="--ALL--">상품선택</option>
                                    <option th:each="product : ${products}" th:value="${product.id}" th:text="${product.name}"></option>
                                </select>
                            </td>

                            <td width="500">
                                <div>
                                옵션명 :
                                    <input type="text" name="name" placeholder="예시) 옵션명을 입력하시오" maxlength="50" size="70">
                                </div>
                                <div>
                                    추가금액 :
                                    <input type="text" name="price" size="70">
                                </div>
                                <div>
                                    옵션설명 :
                                    <input type="text" name="description" size="70" style="height:30px;">
                                </div>
                            </td>
                        </tr>
                        <!---------- 추가 버튼 클릭 시 추가할 row ---------->
                        </tbody>
                    </table>
                </div>
            </td>
            </tr>

            </tbody>
        </table>
        <input type="submit" value="submit">
    </form>
</div>


    <script th:src="@{/js/productOption.js}"></script>
</body>
</html>