<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xml:th="http:/www.thymeleaf.org"
      layout:decorate="~{layout/default.html}">

<head th:include="fragments/config :: configFragment">
  <title id="pageTitle">관리자 &mdash; 상품검색</title>
  <!-- other elements you want to reference in your layout -->
</head>

<div layout:fragment="content">
  <h1>상품검색 페이지</h1>

  <!-- 상품 검색 모듈 -->
  <div>
    <table border="1">
      <form method="post" action="/admin/product/searchDto">
        <tbody>
        <tr>
          <th scope="row">검색분류</th>
          <td>
            <select name="productSearchClassification">
              <option disabled selected>검색 옵션 선택</option>
              <option value="productName">상품명</option>
              <option value="productCode">상품코드</option>
              <option value="productSellingPrice">판매가</option>
              <option value="productManufacturer">제조공장</option>
              <option value="productOptionalPriceText">가격대체문구</option>
              <option value="productShippingPrice">배송비</option>
            </select>
            <span>
              <input type="text" name="productSearchClassificationInput">
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">상품분류</th>
          <td>
            <select name="productLargeCategoryId" class="product-category-select"
                    onchange="updateMiddleCategory(this)">
              <option disabled selected>대분류</option>
              <option th:each="category : ${largeCategories}" th:value="${category.id}"
                      th:text="${category.name}"></option>
            </select>
            <select name="productMiddleCategoryId" class="product-category-select"
                    onchange="updateSmallCategory(this)">
              <option disabled selected>중분류</option>
            </select>
            <select name="productSmallCategoryId" class="product-category-select">
              <option disabled selected>소분류</option>
            </select>
          </td>
        </tr>
        <tr>
          <th scope="row">등록일 / 출시일</th>
          <td>
            <!--        <select name="productSearchDate">
                          <option value="regDate">상품 등록일</option>
                          <option value="releaseDate">상품 출시일</option>
                        </select> -->
            <select name="productSearchDate">
              <option value="regDate">상품 등록일</option>
            </select>

            <!--<input type="date" name="productSearchDateInput" data-date-inline-picker="true"/>-->
            <input name="productRegDateStart" type="datetime-local"
                   placeholder="Start Registration Date">시작일
            <input name="productRegDateEnd" type="datetime-local"
                   placeholder="Ended Registration Date">종료일
            <!--<a href="#" id="start-date"><span>달력보기</span></a>-->
          </td>
        </tr>
        <tr>
          <th scope="row">제출</th>
          <td>
            <input type="submit"/>
          </td>
        </tr>
        </tbody>
      </form>
    </table>
  </div>

  <!--<table border="1" summary="">-->
  <!--<caption>상품검색</caption>-->
  <!--<tbody>-->
  <!--<tr>-->
  <!--<th scope="row">검색분류</th>-->
  <!--<td>-->
  <!--<select>-->
  <!--<option value="product_name">상품명</option>-->
  <!--<option value="product_code">제품코드(관리자)</option>-->
  <!--</select>-->
  <!--<span>-->
  <!--<form method="post" action="/admin/product/product_search/result">-->
  <!--<input type="text" name="productName">-->
  <!--<input type="submit">-->
  <!--</form>-->
  <!--</span>-->

  <!-- (검색 전)모든 상품 리스트 | (검색 후)상품 검색 결과 -->
  <div>
    <table>
      <thead>
      <tr>
        <th>id</th>
        <th>상품코드</th>
        <th>이름</th>
        <th>판매가</th>
        <th>판매량</th>
        <th>안전재고</th>
        <th>제조 공장</th>
        <th>제조일</th>
        <th>원가</th>
        <th>가격대체문구</th>
        <th>출시일</th>
        <th>배송비</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="product : ${allProductList != null ? allProductList : allProductListSearchResult}">
        <td th:text="${product.id}">###</td>
        <td th:text="${product.code}">###</td>
        <td th:text="${product.name}">###</td>
        <td th:text="${product.sellingPrice}">###</td>
        <td th:text="${product.sellingQuantity}">###</td>
        <td th:text="${product.safeQuantity}">###</td>
        <td th:text="${product.manufacturer}">###</td>
        <td th:text="${product.manufactureDate}">###</td>
        <td th:text="${product.originalPrice}">###</td>
        <td th:text="${product.optionalPriceText}">###</td>
        <td th:text="${product.releaseDate}">###</td>
        <td th:text="${product.shippingPrice}">###</td>
      </tr>
      </tbody>
    </table>

    <!-- 모든 상품 리스트 페이지 번호 -->
    <div id="page-numbers">
      <th:block th:each="item : ${#numbers.sequence(1, productPageCount)}">
        <a th:href="@{'/admin/product/searchDto?page=' + ${item}}">
          <span th:text="${item}"></span>
        </a>
      </th:block>
    </div>

  </div>

  <script th:src="@{/js/product-searchDto.js}"></script>
</div>

</html>