<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/admin-default}">

<head th:include="fragments/config :: configFragment">
  <title id="pageTitle">관리자 &mdash; 사용자 등록</title>
  <!-- other elements you want to reference in your layout -->
</head>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<div layout:fragment="content">
  <!-- 사용자 스크립트 추가 -->
  <th:block layout:fragment="script">
  </th:block>
  <h1>Member Add</h1>

  <div style="display:block; ">

    <!-- th:field="*{product.productOptions.description}" 이런식으로 해도 된다는데... 실패했었음.-->
    <form onsubmit="" action="#" th:action="@{/user/add}" method="post"
          th:object="${}">

      <!-- Start (상품 기본정보 등록) -->
      <div style="display: block; position:relative; left:50px;">
        <div>
          <label th:class="${#fields.hasErrors('name')} ? 'fieldError'">상품명 : </label>
          <input name="name" th:field="*{name}" id="inputName"
                 th:class="${#fields.hasErrors('name')} ? 'fieldError'" type="text"
                 placeholder="Product Name">
          <label th:if="${#fields.errors('name')}" th:errors="*{name}">input is incorrect</label>
        </div>
        <div>
          <label th:class="${#fields.hasErrors('manufacturer')} ? 'fieldError'">제조사 : </label>
          <input name="manufacturer" th:field="*{manufacturer}" id="inputManufacturer"
                 th:class="${#fields.hasErrors('manufacturer')} ? 'fieldError'" type="text"
                 placeholder="Manufacturer">
          <label th:if="${#fields.errors('manufacturer')}" th:errors="*{manufacturer}">input is
            incorrect</label>
        </div>
        <div>
          <label th:class="${#fields.hasErrors('code')} ? 'fieldError'">상품코드 : </label>
          <input name="code" th:field="*{code}" type="text" id="inputCode"
                 th:class="${#fields.hasErrors('code')} ? 'fieldError'" placeholder="Product Code">
          <label th:if="${#fields.errors('code')}" th:errors="*{code}">input is incorrect</label>
        </div>
        <div>
          <label th:class="${#fields.hasErrors('originalPrice')} ? 'fieldError'">원가 : </label>
          <input name="originalPrice" th:field="*{originalPrice}" id="inputOriginalPrice"
                 th:class="${#fields.hasErrors('originalPrice')} ? 'fieldError'" type="text"
                 placeholder="Original Price">
          <label th:if="${#fields.errors('originalPrice')}" th:errors="*{originalPrice}">input is
            incorrect</label>
        </div>
        <div>
          <label th:class="${#fields.hasErrors('sellingPrice')} ? 'fieldError'">판매가 : </label>
          <input name="sellingPrice" th:field="*{sellingPrice}" id="inputSellingPrice"
                 th:class="${#fields.hasErrors('sellingPrice')} ? 'fieldError'" type="text"
                 placeholder="Selling Price">
          <label th:if="${#fields.errors('sellingPrice')}" th:errors="*{sellingPrice}">input is
            incorrect</label>
        </div>
        <div>
          <label th:class="${#fields.hasErrors('manufacturingPrice')} ? 'fieldError'">제조가 : </label>
          <input name="manufacturingPrice" th:field="*{manufacturingPrice}"
                 id="inputManufacturingPrice"
                 th:class="${#fields.hasErrors('manufacturingPrice')} ? 'fieldError'" type="text"
                 placeholder="Manufacturing Price">
          <label th:if="${#fields.errors('manufacturingPrice')}" th:errors="*{manufacturingPrice}">input
            is incorrect</label>
        </div>
        <div>
          <label th:class="${#fields.hasErrors('shippingPrice')} ? 'fieldError'">배송비 : </label>
          <input name="shippingPrice" th:field="*{shippingPrice}" id="inputShippingPrice"
                 th:class="${#fields.hasErrors('shippingPrice')} ? 'fieldError'" type="text"
                 placeholder="Shipping Fee">
          <label th:if="${#fields.errors('shippingPrice')}" th:errors="*{shippingPrice}">input is
            incorrect</label>
        </div>
        <div>
          <label th:class="${#fields.hasErrors('productDetail')} ? 'fieldError'">상품 설명
            : </label>
          <input name="productDetail" th:field="*{productDetail}" id="inputDescription"
                 th:class="${#fields.hasErrors('productDetail')} ? 'fieldError'"
                 type="text" placeholder="Product Description">
          <label th:if="${#fields.errors('productDetail')}"
                 th:errors="*{productDetail}">input is incorrect</label>
        </div>

        <div>
          <label>제조일 : </label>
          <input name="manufactureDate" type="datetime-local" placeholder="Manufacture Date"
                 id="inputDate1" th:field="*{manufactureDate}"
                 th:class="${#fields.hasErrors('productDetail')} ? 'fieldError'">
          <!--<input name="date1" type="datetime-local" id="datepicker">-->
          <label th:if="${#fields.errors('manufactureDate')}"
                 th:errors="*{manufactureDate}">input is incorrect</label>
        </div>
        <div>
          <label>출시일 : </label> <!-- datetime-local -->
          <input name="releaseDate" type="datetime-local" placeholder="Release Date"
                 id="inputDate2" th:field="*{releaseDate}"
                 th:class="${#fields.hasErrors('releaseDate')} ? 'fieldError'">
          <!--<input name="releaseDate" type="text" id="datepicker2" placeholder="Release Date">-->
          <label th:if="${#fields.errors('releaseDate')}"
                 th:errors="*{releaseDate}">input is incorrect</label>
        </div>

        <div>
          <label>적립금 : </label>
          <input name="mileage" type="text" placeholder="Mileage">
        </div>
        <div>
          <label th:class="${#fields.hasErrors('quantity')} ? 'fieldError'">재고??? : </label>quantity
          <input name="quantity" type="text" placeholder="Quantity" id="inputQuantity"
                 th:field="*{quantity}" th:class="${#fields.hasErrors('quantity')} ? 'fieldError'">
          <label th:if="${#fields.errors('quantity')}" th:errors="*{quantity}">input is
            incorrect</label>
        </div>
        <div>
          <label>안전재고?? : </label>
          <input name="safeQuantity" type="text" placeholder="Safe Quantity">
        </div>
        <div>
          <label>화면에 바로 보여줄거에요? </label>
          <input name="display" type="checkbox">
        </div>
        <div>
          <input type="submit" text="상품등록">
        </div>

      </div>


    </form>
  </div>

</div>
</html>