<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:text-align="http://www.w3.org/1999/xhtml"
      xml:th="http:/www.thymeleaf.org"
      layout:decorate="~{layout/user-default}">

<head th:include="fragments/config :: configFragment">
  <title id="pageTitle">login form</title>
</head>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <link rel="stylesheet" type="text/css" media="screen" th:href="@{/static/css/header.css}"/>
</th:block>


<div layout:fragment="userContents">
  <th:block layout:fragment="script">

  </th:block>

  <h1>Login</h1>
  <div th:if="${param.error}">
    <!--<span th:if="${#session.getAttribute('errMsg')}" th:text="${#session.getAttribute('errMsg')}">test</span>-->
    <!--<span th:if="${#session.getAttribute('errMsg')}" th:text="${#session.getAttribute('errMsg')}">test</span>-->
    Unable to login. Check your id and pw.
  </div>

  <form method='POST' th:action="@{/user/authenticate}">
    <table>
      <tr>
        <td>LoginId:</td>
        <td><input type='text' name='loginId'></td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><input type='password' name='password'/></td>
      </tr>
      <tr>
        <td>Remember Me:</td>
        <td><input type="checkbox" name="remember-me"/></td>
      </tr>
      <tr>
        <td><input type="submit"/></td>
      </tr>
    </table>
  </form>

  <button type="button">
    <a href="/user/join">Sign Up</a>
  </button>


  <br/>
  <br/>
  <br/>
  <br/>


</div>


</html>